<template>
  <v-card
    class="mx-auto"
    width="500"
    max-width="500"
    outlined>
    <v-card-title>
      {{ $t(notification.notificationType) }}
      <v-spacer/>
    </v-card-title>

    <v-card-subtitle>
      {{ $t(notification.createdDate) }}
    </v-card-subtitle>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        @click="navigateAndSetNotificationToSeen(notification)"
        color="green"
        text>
        {{ $t('details') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { store } from '../../store'

export default {
  name: 'NotificationCardComponent',

  props: {
    notification: {
      type: Object,
      required: true
    }
  },

  methods: {
    navigateAndSetNotificationToSeen (notification) {
      store.dispatch('setUserNotificationToSeenById', notification.notificationId)
        .then(() => {
          store.dispatch('setUserNotificationsCount')
        })
    }
  }
}
</script>i

<style scoped>

</style>
