<template>
  <v-container>
    <PageHeaderComponent :title="$t('notifications.header')"/>
    <template v-for="(notification, index) in notificationList">
      <v-row justify="center" v-bind:key="index">
        <v-col>
          <NotificationCardComponent :notification="notification" />
        </v-col>
      </v-row>
    </template>
    <InfiniteLoading :identifier="infiniteId" @infinite="infiniteHandler" spinner="spiral">
      <div slot="no-more"></div>
      <div slot="no-results">{{ $t('no.newNotifications') }}</div>
    </InfiniteLoading>
  </v-container>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import { mapState } from 'vuex'
import PageHeaderComponent from '../static/PageHeaderComponent'
import NotificationCardComponent from './NotificationCardComponent'

export default {
  name: 'NotificationsComponent',

  components: {
    InfiniteLoading,
    PageHeaderComponent,
    NotificationCardComponent
  },

  data: () => ({
    notificationList: [],
    page: 0,
    pageSize: 5,
    infiniteId: +new Date()
  }),

  computed: {
    ...mapState([
      'user',
      'alertStash'
    ]),
    alertPayload: {
      get () {
        return this.$store.state.alert.alertPayload
      }
    }
  },

  watch: {
    alertPayload: {
      handler (newVal) {
        if (newVal) {
          /* console.log(newVal) */
        }
      }
    }
  },

  methods: {
    infiniteHandler ($state) {
      this.$store.dispatch('getUserNotifications')
        .then(res => {
          if (res.data.length) {
            this.notificationList.push(...res.data)
            $state.loaded()
          }
          $state.complete()
        })
    }
  }
}
</script>

<style scoped>

</style>
