<template>
  <v-card
    class="mx-auto"
    width="550"
    outlined>
    <v-row class="ma-4">
      <v-col class="d-flex" cols="8">
        <gmap-autocomplete
          id="locationInput"
          :placeholder="$t('profile.workplace')"
          @place_changed="setPlace"
          @input="checkInput()">
        </gmap-autocomplete>
      </v-col>
      <br/>
    </v-row>
    <br>
    <gmap-map
      :center="center"
      :zoom="12"
      :options="{
         zoomControl: true,
         mapTypeControl: false,
         scaleControl: false,
         streetViewControl: false,
         rotateControl: false,
         fullscreenControl: true,
         disableDefaultUi: false
      }"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :position="marker.position"
        @click="center=marker.position"
      ></gmap-marker>
    </gmap-map>
  </v-card>
</template>

<script>

export default {
  name: 'GoogleMapComponent',

  props: {
    locationProp: {
      type: Object
    },
    placeNameProp: {
      type: String
    }
  },

  data () {
    return {
      // Budapest koordinátái
      center: { lat: 47.497913, lng: 19.040236 },
      marker: { position: null },
      place: null,
      currentPlace: null
    }
  },

  mounted () {
    document.getElementById('locationInput').value = this?.placeNameProp
    this.geolocate()
  },

  methods: {
    checkInput (ev) {
      this.marker = { position: null }
      this.place = null
      this.currentPlace = null
    },
    // receives a place object via the autocomplete component
    setPlace (place) {
      this.currentPlace = place
      this.addMarker()
      this.$emit('placeSet', {
        latitude: place.geometry.location.lat(),
        longitude: place.geometry.location.lng()
      })
      this.$emit('googlePlaceIdSet', place.place_id)
      this.$emit('placeNameSet', this.currentPlace.name)
    },
    addMarker () {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        }
        this.marker = { position: marker }
        this.place = this.currentPlace
        this.center = marker
      }
    },
    geolocate: function () {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
      })
    }
  }
}
</script>

<style scoped>
  #locationInput {
    width: 100%;
  }
</style>
