<template>
  <DetailWorkerComponent/>
</template>

<script>
import DetailWorkerComponent from '../../../components/worker/detail/DetailWorkerComponent'

export default {
  name: 'WorkerDetail',

  components: {
    DetailWorkerComponent
  }
}
</script>
