<template>
  <v-card
    class="mx-auto"
    max-width="650"
    outlined>
    <form>

      <v-row>
        <v-col class="d-flex" cols="12">
          <v-menu
            class="pa-0 ma-4"
            ref="datePicker"
            v-model="datePicker"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px">
            <template v-slot:activator="{ on }">
              <v-text-field
                class="pa-0 ma-4"
                v-model="birthDateDataFormatted"
                :label="$t('profile.birthDate')"
                v-on="on"
                color="#311B92"
                :clearable="true"
                @click:clear="resetBirthDateData()"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="birthDateData"
              color="#311B92"
              no-title
              @input="datePicker = false"
              first-day-of-week="1"
              :locale="$i18n.locale"></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex" cols="12">
          <v-select
            class="ma-4"
            v-model="highestEducationData"
            :items="highestEducations"
            item-text="name"
            item-value="value"
            :label="$t('profile.highestEducation')"
            dense
            color="#311B92"
            item-color="#311B92"
          ></v-select>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex" cols="12">
          <v-text-field
            class="ma-4"
            v-model="jobData"
            :error-messages="jobDataErrors"
            :label="$t('profile.job')"
            @input="$v.jobData.$touch()"
            @blur="$v.jobData.$touch()"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex" cols="12">
          <v-textarea
            class="ma-4"
            v-model="profileDescriptionData"
            :error-messages="profileDescriptionDataErrors"
            rows="3"
            :label="$t('profile.profileDescription')"
            @input="$v.profileDescriptionData.$touch()"
            @blur="$v.profileDescriptionData.$touch()"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex" cols="12">
          <v-combobox
            class="ma-4"
            v-model="selectedSkillsData"
            :items="skills"
            item-text="name"
            item-value="value"
            clearable
            :label="$t('profile.skills')"
            multiple
            color="#311B92"
            item-color="#311B92"
            solo
            required
            :error-messages="selectedSkillsDataErrors"
            @input="$v.selectedSkillsData.$touch()"
            @blur="$v.selectedSkillsData.$touch()">
            <template v-slot:selection="{ attrs, item, select, selected }">
              <v-chip
                v-bind="attrs"
                :input-value="selected"
                close
                color="#311B92"
                text-color="white"
                @click="select"
                @click:close="removeSkill(item)">
                <strong>{{ item.name ? item.name : item }}</strong>
              </v-chip>
            </template>
          </v-combobox>
        </v-col>
      </v-row>

      <v-row>
        <v-col class="d-flex" cols="12">
          <GoogleMapComponent
            @placeSet="setLocation"
            @placeNameSet="setPlaceName"
            @googlePlaceIdSet="setGooglePlaceId"
            :locationProp="locationFromStore"
            :placeNameProp="googlePlaceNameFromStore"/>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex justify-center" cols="12">
          <v-btn @click="editUser" :disabled="checkIfFormDataNotChanged() || isFormInValid" :loading="isSaveUserLoading" class="ma-2" tile outlined color="success">
            {{ $t('profile.save') }}
          </v-btn>
        </v-col>
      </v-row>
    </form>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'

import GoogleMapComponent from './location/GoogleMapComponent'
import i18n from '../../../i18n'

export default {
  name: 'ProfileEditComponent',

  components: {
    GoogleMapComponent
  },

  mixins: [validationMixin],

  validations: {
    jobData: { minLength: minLength(2), maxLength: maxLength(50) },
    profileDescriptionData: { minLength: minLength(2), maxLength: maxLength(500) },
    selectedSkillsData: { required },
    googlePlaceName: { required }
  },

  props: {
    highestEducations: {
      type: Array,
      required: true
    },
    skills: {
      type: Array,
      required: true
    }
  },

  data () {
    return {
      profileDescriptionData: null,
      datePicker: false,
      birthDateData: null,
      birthDateDataFormatted: null,
      jobData: null,
      highestEducationData: null,
      selectedSkillsData: [],
      location: {
        latitude: null,
        longitude: null
      },
      googlePlaceId: '',
      googlePlaceName: '',
      isSaveUserLoading: false
    }
  },

  computed: {
    ...mapState([
      'alert'
    ]),
    birthDateFromStore: {
      get () {
        return this.$store.state.user.birthDate
      }
    },
    highestEducationFromStore: {
      get () {
        return this.$store.state.user.highestEducation
      }
    },
    jobFromStore: {
      get () {
        return this.$store.state.user.job
      }
    },
    profileDescriptionFromStore: {
      get () {
        return this.$store.state.user.profileDescription
      }
    },
    selectedSkillsFromStore: {
      get () {
        return this.$store.state.user.selectedSkills
      }
    },
    locationFromStore: {
      get () {
        return this.$store.state.user.location
      }
    },
    googlePlaceIdFromStore: {
      get () {
        return this.$store.state.user.googlePlaceId
      }
    },
    googlePlaceNameFromStore: {
      get () {
        return this.$store.state.user.googlePlaceName
      }
    },
    selectedSkillsDataErrors () {
      const errors = []
      if (!this.$v.selectedSkillsData.$dirty) return errors
      !this.$v.selectedSkillsData.required && errors.push(i18n.t('profile.selectedSkillsData.required'))
      return errors
    },
    profileDescriptionDataErrors () {
      const errors = []
      if (!this.$v.profileDescriptionData.$dirty) return errors
      !this.$v.profileDescriptionData.minLength && errors.push(i18n.t('profile.profileDescription.tooShort'))
      !this.$v.profileDescriptionData.maxLength && errors.push(i18n.t('profile.profileDescription.tooLong'))
      return errors
    },
    jobDataErrors () {
      const errors = []
      if (!this.$v.jobData.$dirty) return errors
      !this.$v.jobData.minLength && errors.push(i18n.t('profile.job.tooShort'))
      !this.$v.jobData.maxLength && errors.push(i18n.t('profile.job.tooLong'))
      return errors
    },
    googlePlaceNameErrors () {
      const errors = []
      if (!this.$v.googlePlaceName.$dirty) return errors
      !this.$v.googlePlaceName.required && errors.push(i18n.t('profile.googlePlaceName.required'))
      return errors
    },
    isFormInValid () {
      return this.$v.$invalid
    }
  },

  watch: {
    birthDateData (val) {
      this.birthDateDataFormatted = this.formatDate(this.birthDateData)
    },
    birthDateFromStore: {
      handler (newVal) {
        if (newVal) {
          this.birthDateDataFormatted = this.formatDate(newVal)
        }
      },
      immediate: true
    },
    highestEducationFromStore: {
      handler (newVal) {
        if (newVal) {
          this.highestEducationData = newVal
        }
      },
      immediate: true
    },
    jobFromStore: {
      handler (newVal) {
        if (newVal) {
          this.jobData = newVal
        }
      },
      immediate: true
    },
    profileDescriptionFromStore: {
      handler (newVal) {
        if (newVal) {
          this.profileDescriptionData = newVal
        }
      },
      immediate: true
    },
    selectedSkillsFromStore: {
      handler (newVal) {
        if (newVal) {
          this.selectedSkillsData = Object.assign([], newVal)
        }
      },
      immediate: true
    },
    locationFromStore: {
      handler (newVal) {
        if (newVal) {
          this.location = newVal
        }
      },
      immediate: true
    },
    googlePlaceIdFromStore: {
      handler (newVal) {
        if (newVal) {
          this.googlePlaceId = newVal
        }
      },
      immediate: true
    },
    googlePlaceNameFromStore: {
      handler (newVal) {
        if (newVal) {
          this.googlePlaceName = newVal
        }
      },
      immediate: true
    }
  },

  methods: {
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${year}-${month}-${day}`
    },
    resetBirthDateData () {
      this.birthDateData = null
    },
    removeSkill (item) {
      this.selectedSkillsData.splice(this.selectedSkillsData.indexOf(item), 1)
      this.selectedSkillsData = [...this.selectedSkillsData]
    },
    setLocation (location) {
      this.location = location
    },
    setPlaceName (googlePlaceName) {
      this.googlePlaceName = googlePlaceName
    },
    setGooglePlaceId (googlePlaceId) {
      this.googlePlaceId = googlePlaceId
    },
    checkIfFormDataNotChanged () {
      const birthDateNotChanged = this.birthDateFromStore === this.birthDateDataFormatted
      const highestEducationNotChanged = JSON.stringify(this.highestEducationFromStore) === JSON.stringify(this.highestEducationData)
      const jobNotChanged = this.jobFromStore === this.jobData
      const profileDescriptionNotChanged = this.profileDescriptionFromStore === this.profileDescriptionData
      const skillsNotChanged = JSON.stringify(this.selectedSkillsFromStore) === JSON.stringify(this.selectedSkillsData)
      // TODO: ezt lehet majd még kell fionítani...
      const locationNotChanged = this.googlePlaceNameFromStore === this.googlePlaceName
      const wholeFormNotChanged = birthDateNotChanged && highestEducationNotChanged && jobNotChanged && profileDescriptionNotChanged && skillsNotChanged && locationNotChanged
      return wholeFormNotChanged
    },

    editUser () {
      this.isSaveUserLoading = true
      this.$store.dispatch('editUser', {
        birthDate: this.birthDateDataFormatted,
        highestEducation: this.highestEducationData,
        job: this.jobData,
        profileDescription: this.profileDescriptionData,
        skillList: this.selectedSkillsData,
        googlePlaceId: this.googlePlaceId,
        googlePlaceName: this.googlePlaceName
      }).then(res => {
        this.isSaveUserLoading = false
        if (res.status === 200) {
          this.$store.dispatch('setIsVisible', true)
          this.$store.dispatch('setColor', 'success')
          this.$store.dispatch('setAlertMsg', i18n.t('profile.saved'))
          this.$store.dispatch('setUserProperties', res)
        }
      }).catch(() => {
        this.$store.dispatch('setIsVisible', true)
        this.$store.dispatch('setColor', 'error')
        this.$store.dispatch('setAlertMsg', i18n.t('profile.saveError'))
      })
    }
  }

}
</script>

<style scoped>
  #mapIcon {

  }
</style>
