<template>
  <v-container>
    <template v-for="(review, index) in reviewList">
      <v-row justify="center" v-bind:key="index">
        <v-col>
          <ReviewCardComponent :review="review" />
        </v-col>
      </v-row>
    </template>
    <InfiniteLoading :identifier="infiniteId" @infinite="infiniteHandler" spinner="spiral">
      <div slot="no-more"></div>
      <div slot="no-results">{{ $t('no.reviewResults') }}</div>
    </InfiniteLoading>
  </v-container>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import ReviewCardComponent from './ReviewCardComponent'

export default {

  name: 'ReviewListComponent',

  props: {
    worker: {
      type: Object,
      required: true
    }
  },

  components: {
    InfiniteLoading,
    ReviewCardComponent
  },

  data: () => ({
    reviewList: [],
    page: 0,
    pageSize: 15,
    infiniteId: +new Date()
  }),

  methods: {
    infiniteHandler ($state) {
      this.$store.dispatch('findReviews', {
        pagingRequest: {
          pageSize: this.pageSize,
          page: this.page
        },
        reviewSearchRequest: {
          userId: this.worker.workerId
        }
      }).then(res => {
        if (res.data.content.length) {
          this.page += 1
          this.reviewList.push(...res.data.content)
          $state.loaded()
        } else {
          $state.complete()
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
