<template>
  <v-card mx-auto class="pa-5">
    <v-card-title>
      {{ workRequest.title }}
    </v-card-title>
    <v-card-subtitle>
      {{ workRequest.intervalPayload.start }} - {{ workRequest.intervalPayload.end }}
    </v-card-subtitle>
  </v-card>
</template>

<script>
export default {
  name: 'ReviewWorkCardComponent',

  props: {
    workRequest: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
