<template>
    <v-card mx-auto class="pa-5">
      <v-row>
        <v-col>
          <star-rating
            :read-only="true"
            :rating="review.rating"
            :star-size="25"/>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <span class="rating-text">{{ review.ratingText }}</span>
        </v-col>
      </v-row>
    </v-card>
</template>

<script>
import StarRating from 'vue-star-rating'

export default {

  name: 'ReviewCardComponent',

  props: {
    review: {
      type: Object,
      required: true
    }
  },

  components: {
    StarRating
  }
}
</script>

<style>
  span.vue-star-rating-rating-text {
    margin: 0 0 0 6px!important;
    opacity: 0.8;
  }
  .rating-text {
    opacity: 0.8;
  }
</style>
