<template>
  <v-container>
    <PageHeaderComponent :title="$t('review.header')"/>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <v-btn
          :to="{ name: 'notifications'}"
          outlined
          color="orange darken-2"
          dark>
          <v-icon dark left>mdi-arrow-left</v-icon>{{ $t('back.toNotifications') }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <ReviewWorkCardComponent v-if="!workRequestLoading" :work-request="workRequest"/>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <v-card>
          <form class="pa-5">
          <star-rating @rating-selected="rating = $event" :rating="rating"></star-rating>
            <v-textarea
              v-model="ratingText"
              :error-messages="ratingTextErrors"
              :label="$t('review.ratingText')"
              required
              rows="3"
              @input="$v.ratingText.$touch()"
              @blur="$v.ratingText.$touch()"
            ></v-textarea>
          </form>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4 text-center">
        <v-btn
          @click="saveReview()"
          :loading="isSaveReviewLoading"
          :disabled="isSaveReviewButtonDisabled()"
          tile
          outlined
          color="success">
          {{ $t('review.submit') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import StarRating from 'vue-star-rating'
import { validationMixin } from 'vuelidate'
import { maxLength, required } from 'vuelidate/lib/validators'

import PageHeaderComponent from '../static/PageHeaderComponent'
import ReviewWorkCardComponent from './ReviewWorkCardComponent'
import i18n from '../../i18n'
import router from '../../router'

export default {

  name: 'ReviewComponent',

  components: {
    StarRating,
    ReviewWorkCardComponent,
    PageHeaderComponent
  },

  mixins: [validationMixin],

  validations: {
    ratingText: { required, maxLength: maxLength(255) }
  },

  data: () => ({
    workRequest: null,
    workRequestLoading: false,
    rating: 0,
    ratingText: '',
    isSaveReviewLoading: false
  }),

  created () {
    this.workRequestLoading = true
    this.$store.dispatch('findWorkRequestById', this.$route.params.workId).then(res => {
      this.workRequest = res.data
      this.workRequestLoading = false
    })
  },

  computed: {
    ratingTextErrors () {
      const errors = []
      if (!this.$v.ratingText.$dirty) return errors
      !this.$v.ratingText.required && errors.push(i18n.t('review.ratingText.required'))
      this.$emit('formErrorCheck', this.$v)
      return errors
    }
  },

  methods: {
    saveReview () {
      this.isSaveReviewLoading = true
      this.$store.dispatch('saveReview', {
        rating: this.rating,
        ratingText: this.ratingText,
        workId: this.workRequest.id
      }).then(res => {
        this.isSaveReviewLoading = false
        if (res.status === 200) {
          this.$store.dispatch('setIsVisible', true)
          this.$store.dispatch('setColor', 'success')
          this.$store.dispatch('setAlertMsg', i18n.t('review.submit.success'))
          router.push({ name: 'notifications' })
        } else {
          this.$store.dispatch('setIsVisible', true)
          this.$store.dispatch('setColor', 'error')
          this.$store.dispatch('setAlertMsg', i18n.t('review.submit.error'))
        }
      })
    },
    isSaveReviewButtonDisabled () {
      const ratingEmpty = this.rating === 0
      const formInvalid = this.$v.$invalid

      return ratingEmpty || formInvalid
    }
  }
}
</script>

<style scoped>

</style>
