<template>
  <v-container>
    <PageHeaderComponent :title="$t('chat.header')"/>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <v-btn
          :to="{ name: 'notifications'}"
          outlined
          color="orange darken-2"
          dark>
          <v-icon dark left>mdi-arrow-left</v-icon>{{ $t('back.toNotifications') }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <ReviewWorkCardComponent v-if="!workRequestLoading" :work-request="workRequest"/>
      </v-col>
    </v-row>
    <InfiniteLoading force-use-infinite-wrapper="#scroll-target" direction="top" :identifier="infiniteId" @infinite="infiniteHandler" spinner="spiral">
      <div slot="no-more"></div>
      <div slot="no-results">{{ $t('chat.noMessages') }}</div>
    </InfiniteLoading>
    <v-container
      id="scroll-target"
      v-chat-scroll="{always: false}"
      style="max-height: 500px"
      class="overflow-y-auto">
        <template class="messages-template" v-for="(message, index) in messageList">
          <v-row justify="center" v-bind:key="index">
            <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
              <ChatMessageComponent :message="message" />
            </v-col>
          </v-row>
        </template>
    </v-container>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <v-text-field
          v-model="message"
          :append-outer-icon="message ? 'mdi-send' : ''"
          filled
          clear-icon="mdi-close-circle"
          clearable
          color="#294c7c"
          background-color="white"
          :label="$t('chat.message')"
          type="text"
          @keyup.enter.native="sendMessage"
          @click:append-outer="sendMessage"
          @click:clear="clearMessage"
        ></v-text-field>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'
import PageHeaderComponent from '../static/PageHeaderComponent'
import ReviewWorkCardComponent from '../review/ReviewWorkCardComponent'
import ChatMessageComponent from './ChatMessageComponent'
import i18n from '../../i18n'

export default {
  name: 'ChatComponent',

  components: {
    InfiniteLoading,
    ChatMessageComponent,
    PageHeaderComponent,
    ReviewWorkCardComponent
  },

  data: () => ({
    workRequest: null,
    workRequestLoading: false,
    message: '',
    messagesLoading: false,
    isSendMessageLoading: false,
    messagePageSize: 15,
    messagePage: 0,
    messageList: [],
    infiniteId: +new Date()
  }),

  created () {
    this.loadWorkRequest()
    this.setAlertsToSeenByConnectedId()
  },

  computed: {
    ...mapState([
      'user'
    ]),
    alertPayload: {
      get () {
        return this.$store.state.alert.alertPayload
      }
    }
  },

  watch: {
    alertPayload: {
      handler (newVal) {
        if (newVal) {
          if (newVal?.notificationType === 'NEW_MESSAGE' && this.workRequest?.id === newVal?.notificationPayloadObject.workId) {
            this.messageList.push(newVal.notificationPayloadObject)
            this.$store.dispatch('removeFromAlertStash', this.$route.params.workId)
            this.setAlertsToSeenByConnectedId()
          }
        }
      },
      immediate: true
    }
  },

  methods: {
    loadWorkRequest () {
      this.workRequestLoading = true
      this.$store.dispatch('findWorkRequestById', this.$route.params.workId).then(res => {
        this.workRequest = res.data
        this.workRequestLoading = false
      })
    },
    setAlertsToSeenByConnectedId () {
      this.$store.dispatch('setAlertsToSeenByConnectedId', this.$route.params.workId).then(res => {
        this.$store.dispatch('setUserNotificationsCount')
        this.$store.dispatch('removeFromAlertStash', this.$route.params.workId)
      })
    },
    infiniteHandler ($state) {
      this.$store.dispatch('findMessages', {
        pagingRequest: {
          pageSize: this.messagePageSize,
          page: this.messagePage
        },
        messageSearchRequest: {
          workId: this.$route.params.workId
        }
      }).then(res => {
        if (res.data.content.length) {
          this.messagePage += 1
          this.messageList.unshift(...res.data.content.reverse())
          $state.loaded()
        } else {
          $state.complete()
        }
      })
    },
    sendMessage () {
      this.isSendMessageLoading = true
      this.$store.dispatch('sendMessage', {
        workId: this.workRequest.id,
        senderName: this.user.name,
        text: this.message
      }).then(res => {
        this.isSendMessageLoading = false
        if (res.status === 200) {
          this.messageList.push(res.data)
          this.clearMessage()
          this.isSendMessageLoading = false
        } else {
          this.$store.dispatch('setIsVisible', true)
          this.$store.dispatch('setColor', 'error')
          this.$store.dispatch('setAlertMsg', i18n.t('chat.message.error'))
          this.isSendMessageLoading = false
        }
      })
    },
    clearMessage () {
      this.message = ''
    }
  }
}
</script>

<style scoped>
.messages-template {
  height: 250px;
}
</style>
