<template>
  <div>
    <v-row :justify="user.name === message.senderName ? 'end': 'start'">
      <div :class="user.name === message.senderName ? 'chat-bubble-sent': 'chat-bubble-received'">{{ message.text }}</div>
    </v-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ChatMessageComponent',

  props: {
    message: {
      type: Object,
      required: true
    }
  },

  computed: {
    ...mapState([
      'user'
    ])
  }
}
</script>

<style scoped>
.chat-bubble-sent {
  background-color: #616161;
  opacity: 0.8;
  color: white;
  padding: 10px;
  border-radius: 10px 2px 2px 10px;
  width: auto;
  display: inline-block;
  max-width: 50%;
}
.chat-bubble-received {
  background-color: #311B92;
  opacity: 0.8;
  color: white;
  padding: 10px;
  border-radius: 2px 10px 10px 2px;
  width: auto;
  display: inline-block;
  max-width: 50%;
  }
</style>
