<template>
  <v-parallax style="opacity: 0.92" src="../../assets/img/main-landing.jpg">
    <v-layout
      column
      align-center
      justify-center
      class="white--text">
      <p class="white--text hero-text-header mb-2 display-2 text-center">{{ $t('landing.header') }}</p>
      <div class="subheading mb-3 hero-text-sub text-center">{{ $t('landing.subHeader') }}</div>
      <v-btn
        data-aos="fade-up"
        v-if="user.token === ''"
        class="mt-3"
        dark
        color="#1B5E20"
        to="/login">
        <v-icon left dark>mdi-facebook</v-icon>
        <v-icon left dark class="google-icon">mdi-google</v-icon>
        {{ $t('landing.action') }}
      </v-btn>
    </v-layout>
  </v-parallax>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'LandingComponent',

  computed: {
    ...mapState([
      'user'
    ])
  }
}
</script>

<style scoped>
  .v-icon {
    margin-right: 13px;
  }

</style>
