<template>
  <v-container data-aos="fade-up">
    <v-layout
      class="ma-5"
      column
      align-center
      justify-center>
      <p class="mb-2 display-1 text-center">{{ $t('landing.normalUser.action') }}</p>
    </v-layout>
    <div class="row">
      <v-col cols="12" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <v-card height="200">
          <div class="row">
            <div class="col text-center">
              <v-icon size="45">mdi-account-search-outline</v-icon>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="mb-2 text-center">{{ $t('landing.normalUser.action1') }}</p>
              <span class="description">{{ $t('landing.normalUser.action.description1') }}</span>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <v-card height="200">
          <div class="row">
            <div class="col text-center">
              <v-icon size="45">mdi-cursor-default-click-outline</v-icon>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="mb-2 text-center">{{ $t('landing.normalUser.action2') }}</p>
              <span class="description">{{ $t('landing.normalUser.action.description2') }}</span>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <v-card height="200">
          <div class="row">
            <div class="col text-center">
              <v-icon size="45">mdi-account-hard-hat</v-icon>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="mb-2 text-center">{{ $t('landing.normalUser.action3') }}</p>
              <span class="description">{{ $t('landing.normalUser.action.description3') }}</span>
            </div>
          </div>
        </v-card>
      </v-col>
    </div>
    <div class="row ma-7">
      <v-col class="text-center">
        <v-btn
          color="#F4511E"
          class="action-btn"
          to="/workers"
          dark>
          <v-icon left dark>mdi-table-search</v-icon>
          {{ $t('landing.normalUser.action.search') }}
        </v-btn>
      </v-col>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'NormalUserInstructionsComponent'
}
</script>

<style scoped>
  .description {
    opacity: 0.8;
    font-weight: lighter;
    font-size: 0.8em;
    width: 60%;
  }
</style>
