<template>
  <v-container data-aos="fade-up">
    <v-layout
      class="ma-5"
      column
      align-center
      justify-center>
      <p class="mb-2 display-1 text-center">{{ $t('landing.worker.action') }}</p>
    </v-layout>
    <div class="row">
      <v-col cols="12" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <v-card height="200">
          <div class="row">
            <div class="col text-center">
              <v-icon size="45">mdi-cursor-default-click</v-icon>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="mb-2 text-center">{{ $t('landing.worker.action1') }}</p>
              <span class="description">{{ $t('landing.worker.action.description1') }}</span>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <v-card height="200">
          <div class="row">
            <div class="col text-center">
              <v-icon size="45">mdi-badge-account-outline</v-icon>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="mb-2 text-center">{{ $t('landing.worker.action2') }}</p>
              <span class="description">{{ $t('landing.worker.action.description2') }}</span>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <v-card height="200">
          <div class="row">
            <div class="col text-center">
              <v-icon size="45">mdi-progress-clock</v-icon>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="mb-2 text-center">{{ $t('landing.worker.action3') }}</p>
              <span class="description">{{ $t('landing.worker.action.description3') }}</span>
            </div>
          </div>
        </v-card>
      </v-col>
    </div>
    <div class="row ma-7">
      <v-col class="text-center">
        <v-btn
          v-if="user.token === ''"
          color="#311B92"
          class="action-btn"
          to="/login"
          dark>
          <v-icon left dark>mdi-account-plus</v-icon>
          {{ $t('landing.worker.action.register') }}
        </v-btn>
        <v-btn
          v-else
          color="#311B92"
          class="action-btn"
          to="/notifications"
          dark>
          <v-icon left dark>mdi-bell</v-icon>
          {{ $t('landing.worker.action.notifications') }}
        </v-btn>
      </v-col>
    </div>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'WorkerInstructionsComponent',

  computed: {
    ...mapState([
      'user'
    ])
  }
}
</script>

<style scoped>
 .description {
   opacity: 0.8;
   font-weight: lighter;
   font-size: 0.8em;
   width: 60%;
 }
</style>
