<template>
  <v-card mx-auto class="pa-5">
    <v-row class="ma-2">
      <v-col class="col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-4 ma-0 pa-0">
        <router-link :to="{ name: 'workerDetail', params: { workerId: worker.id }}" class="router-link">
          <img
            referrerpolicy="no-referrer"
            class="ma-0 pa-0"
            width="125px"
            min-width="125px"
            :src="worker.imageUrl"/>
        </router-link>
      </v-col>
      <v-col class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 ma-0 pa-0">
        <router-link :to="{ name: 'workerDetail', params: { workerId: worker.id }}" class="router-link">
          <p class="text--primary header-text pa-0 ma-0">
              {{ worker.name }}
          </p>
        </router-link>
        <p class="google-place-name">
          {{ worker.googlePlaceName }}
        </p>
        <p class="worker-job-history">
          <StarSvgComponent v-if="workerRating"></StarSvgComponent>
          <span class="history-element" v-if="workerRating">
            {{ this.workerRating }} / 5
          </span>
          <span class="history-element" id="workDoneCount">{{ $t('workRequest.doneCount', { count: workDoneCount }) }}</span>
        </p>
        <template class="ma-0 pa-0" v-for="(skill, index) in worker.skillList">
          <v-chip v-bind:key="index" color="#d04799" small class="ma-2" text-color="white">{{ $t(skill) }}</v-chip>
        </template>
      </v-col>
    </v-row>
    <div id="scheduleData" v-if="isScheduleDataRendered">
      <v-row class="ma-0">
        <v-col class="ma-0">
          <vue-cal
            xsmall
            :locale="$i18n.locale"
            default-view="week"
            :time="false"
            :events="modifiedIntervalPayloadList"
            :disable-views="['years', 'year', 'day']">
          </vue-cal>
        </v-col>
      </v-row>
      <v-row class="ma-2">
        <v-col cols="12" class="ma-0 pa-0 text-end">
          <router-link :to="{ name: 'workRequest', params: { workerId: worker.id }}" class="router-link">
            <v-btn
              color="success"
              small>
              {{ $t('workers.worker.book') }}
            </v-btn>
          </router-link>
        </v-col>
      </v-row>
    </div>
  </v-card>
</template>

<script>
import VueCal from 'vue-cal'
import StarSvgComponent from '../../../../static/StarSvgComponent'

export default {

  name: 'WorkerCardComponent',

  components: {
    StarSvgComponent,
    VueCal
  },

  props: {
    worker: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    modifiedIntervalPayloadList: [],
    workerRating: null,
    workDoneCount: 0
  }),

  mounted () {
    this.modifiedIntervalPayloadList = this.worker.intervalPayloadList.map(obj => ({
      ...obj,
      content: this.$dayjs(obj.start).format('HH:mm').concat(' - ').concat('<br>').concat(this.$dayjs(obj.end).format('HH:mm')),
      class: obj.intervalStatus === 'FREE' ? 'leisure' : (obj.intervalStatus === 'PENDING') ? 'health' : 'sport'
    }))
    this.$store.dispatch('getWorkerRating', this.worker.id).then(res => {
      this.workerRating = res.data
    })
    this.$store.dispatch('getWorkDoneCountByWorkerId', this.worker.id).then(res => {
      this.workDoneCount = res.data
    })
  },

  computed: {
    isScheduleDataRendered () {
      let isAtleastOneFutureIntervalPresent = false
      this.worker.intervalPayloadList.forEach((interval) => {
        if ((this.$dayjs(interval.start).isAfter(this.$dayjs(new Date())))) {
          isAtleastOneFutureIntervalPresent = true
        }
      })
      return isAtleastOneFutureIntervalPresent
    }
  }
}
</script>

<style>
  .google-place-name {
    color: lightslategray;
    margin-bottom: 4px!important;
  }
  .vuecal__event-content {
    font-size: 0.8em;
  }
  .vuecal__event {
    cursor: pointer;
  }
  .selected-interval-label {
    font-size: 0.9em;
  }
  .selected-interval {
    font-size: 0.8em;
    opacity: 0.8;
  }
  .worker-job-history {
    fill: yellow;
    display: flex;
    align-items: center;
  }
  .history-element {
    margin-top: 2px;
    margin-left: 4px;
    opacity: 0.8;
    color: #311B92;
    font-size: 0.95em;
  }
  #workDoneCount {
    opacity: 0.95;
    color: darkgrey;
  }
</style>
