<template>
    <v-snackbar
      v-model="isVisible"
      :timeout="8000"
      :color="color"
      :top="true">
      {{ alertMsg }}
    </v-snackbar>
</template>

<script>
import { store } from '../../../store'

export default {
  name: 'SnackBarComponent',

  computed: {
    isVisible: {
      get () {
        return this.$store.state.alert.isVisible
      },
      set (isVisible) {
        store.dispatch('setIsVisible', isVisible)
      }
    },
    color: {
      get () {
        return this.$store.state.alert.color
      },
      set (color) {
        store.dispatch('setColor', color)
      }
    },
    alertMsg: {
      get () {
        return this.$store.state.alert.alertMsg
      },
      set (alertMsg) {
        store.dispatch('setAlertMsg', alertMsg)
      }
    }
  },

  watch: {
    isVisible: function (newVal, oldVal) {
      this.isVisible = newVal
    }
  }
}
</script>
