<template>
  <v-container>
    <template v-for="(worker, index) in workerList">
      <v-row justify="center" v-bind:key="index">
        <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
          <WorkerCardComponent :worker="worker" />
        </v-col>
      </v-row>
    </template>
    <InfiniteLoading :identifier="infiniteId" @infinite="infiniteHandler" spinner="spiral">
      <div slot="no-more"></div>
      <div slot="no-results">{{ $t('no.workerResults') }}</div>
    </InfiniteLoading>
  </v-container>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import WorkerCardComponent from '../list/card/WorkerCardComponent'

export default {

  name: 'WorkerListComponent',

  components: {
    InfiniteLoading,
    WorkerCardComponent
  },

  data: () => ({
    workerList: [],
    page: 0,
    pageSize: 15,
    infiniteId: +new Date()
  }),

  methods: {
    infiniteHandler ($state) {
      this.$store.dispatch('findWorkers', {
        pagingRequest: {
          pageSize: this.pageSize,
          page: this.page
        },
        userSearchRequest: {
          location: this.$store.state.workerSearch.searchOrderByLocation,
          searchDate: this.$store.state.workerSearch.searchDate,
          userListOrderBy: this.$store.state.workerSearch.searchOrderBy.value ? this.$store.state.workerSearch.searchOrderBy.value : '',
          skill: this.searchSkill
        }
      }).then(res => {
        if (res.data.content.length) {
          this.page += 1
          this.workerList.push(...res.data.content)
          $state.loaded()
        } else {
          $state.complete()
        }
      })
    }
  },

  computed: {
    searchSkill: {
      get () {
        return this.$store.state.workerSearch.searchSkill
      }
    },
    searchDate: {
      get () {
        return this.$store.state.workerSearch.searchDate
      }
    },
    searchOrderBy: {
      get () {
        return this.$store.state.workerSearch.searchOrderBy
      }
    }
  },

  watch: {
    searchSkill () {
      this.page = 0
      this.workerList = []
      this.infiniteId += 1
    },
    searchDate () {
      this.page = 0
      this.workerList = []
      this.infiniteId += 1
    },
    searchOrderBy () {
      this.page = 0
      this.workerList = []
      this.infiniteId += 1
    }
  }
}
</script>
