<template>
  <div>
    <v-container fill-height>
      <v-layout wrap class="justify-center">
        <v-card mx-auto>
          <v-row class="ma-2">
            <v-col cols="12" class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <v-autocomplete
                v-model="searchSkill"
                :items="skills"
                item-text="name"
                :label="$t('workers.filter.skill')"
                dense
                color="#311B92"
                item-color="#311B92"
              ></v-autocomplete>
            </v-col>
            <v-col cols="12" class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <v-menu
                class="pa-0"
                ref="datePicker"
                v-model="datePicker"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px">
                <template v-slot:activator="{ on }">
                  <v-text-field
                    class="pa-0"
                    v-model="searchDateFormatted"
                    :label="$t('workers.filter.workDay')"
                    v-on="on"
                    color="#311B92"
                    :clearable="true"
                    readonly
                    @click:clear="resetSearchDate()"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="searchDate"
                  color="#311B92"
                  no-title
                  @input="datePicker = false"
                  first-day-of-week="1"
                  :min="new Date().toISOString().slice(0,10)"
                  :locale="$i18n.locale"></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
          <v-row class="ma-2">
            <v-col cols="12" class="text-end">
              <v-menu offset-y>
                <template v-slot:activator="{ on }">
                  <v-btn class="text--darken-1" height="25" x-small v-on="on">
                    {{ $t('workers.filter.order') }}
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(orderByItem, index) in orderByItems"
                    :key="index"
                    @click="setSearchOrderBy(orderByItem)">
                    <v-list-item-title>{{ $t(orderByItem.title) }}</v-list-item-title>
                    <v-icon v-if="searchOrderBy.value === orderByItem.value" color="green" class="ma-2">mdi-check</v-icon>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-col>
          </v-row>
        </v-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

import { store } from '@/store'

export default {

  name: 'WorkerFilterComponent',

  props: {
    skills: {
      type: Array,
      required: true
    }
  },

  data: vm => ({
    datePicker: false,
    searchDate: '',
    orderByItems: [
      {
        title: 'workers.orderBy.default',
        value: 'ID'
      },
      {
        title: 'workers.orderBy.nearestLocation',
        value: 'DISTANCE_FROM_CURRENT_LOCATION'
      }
    ]
  }),

  computed: {
    searchSkill: {
      get () {
        return this.$store.state.workerSearch.searchSkill
      },
      set (searchSkill) {
        store.dispatch('setSearchSkill', searchSkill)
      }
    },
    searchDateFormatted: {
      get () {
        return this.$store.state.workerSearch.searchDate
      },
      set (searchDate) {
        store.dispatch('setSearchDate', searchDate)
      }
    },
    searchOrderBy: {
      get () {
        return this.$store.state.workerSearch.searchOrderBy
      },
      set (searchOrderBy) {
        store.dispatch('setSearchOrderBy', searchOrderBy)
      }
    }
  },

  watch: {
    searchDate (val) {
      this.searchDateFormatted = this.formatDate(this.searchDate)
    }
  },

  methods: {
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${year}-${month}-${day}`
    },
    setSearchOrderBy (searchOrderBy) {
      if (searchOrderBy.value === 'DISTANCE_FROM_CURRENT_LOCATION') {
        this.getLocation().then(res => {
          store.dispatch('setSearchOrderByLocation', res)
          store.dispatch('setSearchOrderBy', searchOrderBy)
        })
      } else {
        store.dispatch('setSearchOrderBy', searchOrderBy)
      }
    },
    async getLocation () {
      return new Promise((resolve, reject) => {
        if (!('geolocation' in navigator)) {
          reject(new Error('Geolocation is not available.'))
        }

        navigator.geolocation.getCurrentPosition(pos => {
          resolve(pos.coords)
        }, err => {
          reject(err)
        })
      })
    },
    resetSearchDate () {
      this.searchDate = ''
    }
  }

}
</script>

<style>

</style>
