<template>
  <v-footer
    dark
    padless>
    <v-card
      flat
      tile
      width="100%"
      class="lighten-1 white--text text-center">
      <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4 white--text"
          icon>
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-text>

      <v-card-text class="white--text pt-0">
        <v-icon size="24px" color="yellow">{{ 'fas fa-exclamation-circle' }}</v-icon>
        {{ $t('app.inDevelopment') }}
        <v-icon size="24px" color="yellow">{{ 'fas fa-exclamation-circle' }}</v-icon>
      </v-card-text>

      <v-divider></v-divider>

      <v-row
        align="center"
        justify="center">
        <v-col class="d-flex justify-center">
          <v-switch
            v-model="$vuetify.theme.dark"
            hide-details
            color="yellow"
            inset
            append-icon="mdi-moon-waning-crescent"
          ></v-switch>
        </v-col>
      </v-row>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>Vrea</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>

export default {
  data: () => ({
    icons: [
      'fab fa-facebook',
      'fab fa-instagram'
    ]
  })
}
</script>
