<template>
  <v-app-bar
    app
    color="#18191c"
    dark>
    <div class="d-flex align-center">
      <router-link to="/" class="main-title">
        <v-toolbar-title>Vrea</v-toolbar-title>
      </router-link>
    </div>

    <ActiveWorkRequestComponent v-if="user.token !== ''" />

    <v-spacer></v-spacer>

    <v-btn v-if="user.token === ''" to="/login" class="login-button" text>{{ $t('login') }}</v-btn>
    <v-btn class="ma-2" v-if="user.token !== ''" to="/add-working-hours">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-btn class="ma-2" v-if="user.token !== ''" to="/workers">
      <v-icon>mdi-account-search</v-icon>
    </v-btn>
    <v-menu
      v-if="user.token !== ''"
      bottom left
      v-model="menu"
      :nudge-width="200"
      offset-y>
      <template v-slot:activator="{ on }">
        <v-avatar
          id="profileAvatar"
          size="45px"
          v-on="on"
          class="ma-2">
          <img
            referrerpolicy="no-referrer"
            :src="user.imageUrl"
            alt="profile-image">
        </v-avatar>
      </template>
      <ProfileDropDownComponent/>
    </v-menu>

    <LocaleChangerComponent/>
  </v-app-bar>
</template>

<script>
import { mapState } from 'vuex'
import LocaleChangerComponent from './locale/LocaleChangerComponent'
import ProfileDropDownComponent from './profile/ProfileDropDownComponent'
import ActiveWorkRequestComponent from '../work/alert/ActiveWorkRequestComponent'

export default {
  name: 'HeaderComponent',

  components: {
    LocaleChangerComponent,
    ProfileDropDownComponent,
    ActiveWorkRequestComponent
  },

  data: () => ({
    menu: false
  }),

  computed: {
    userTokenFromStore: {
      get () {
        return this.$store.state.user.token
      }
    },
    ...mapState([
      'user'
    ])
  },

  watch: {
    userTokenFromStore: {
      handler (newVal) {
        if (newVal) {
          this.$store.dispatch('setUserNotificationsCount')
        }
      },
      immediate: true
    }
  }
}
</script>

<style>
  .main-title {
    text-decoration: none;
    color: whitesmoke;
  }

  .login-button {
    margin-right: 10px;
  }

  .v-toolbar__title {
    color: whitesmoke;
    font-size: 1.5rem;
  }

  #profileAvatar {
    cursor: pointer;
  }
</style>
