<template>
  <SnackBarComponent
    :is-visible-prop="isVisible"
    color="warning"
    :msg="notificationType"/>
</template>

<script>
import SockJS from 'sockjs-client'
import Stomp from 'webstomp-client'

import i18n from '../../i18n'
import SnackBarComponent from '../static/alert/SnackBarComponent'

export default {
  name: 'NotificationComponent',

  components: {
    SnackBarComponent
  },

  data () {
    return {
      isVisible: false,
      notificationType: '',
      connected: false
    }
  },

  methods: {
    connect () {
      this.socket = new SockJS(process.env.NODE_ENV !== 'production' ? 'http://localhost:8080/socket' : 'https://vrea.herokuapp.com/socket')
      this.stompClient = Stomp.over(this.socket)
      this.stompClient.connect(
        { Authorization: this.$store.state.user.token },
        frame => {
          this.connected = true
          this.stompClient.subscribe('/user/queue/notify', notification => {
            setTimeout(() => {
              this.$store.dispatch('setIsVisible', false)
            }, 8000)
            this.$store.dispatch('setIsVisible', true)
            this.$store.dispatch('setColor', 'info')
            this.$store.dispatch('setAlertMsg', i18n.t(JSON.parse(notification.body).notificationType))
            this.$store.dispatch('setAlertPayload', i18n.t(JSON.parse(notification.body)))
            this.$store.dispatch('addToAlertStash', {
              connectedWorkId: JSON.parse(notification.body).connectedWorkId,
              notificationType: JSON.parse(notification.body).notificationType
            })
            this.$store.dispatch('setUserNotificationsCount')
          })
        },
        () => {
          this.connected = false
        }
      )
      this.stompClient.debug = () => {}
    },
    disconnect () {
      if (this.stompClient) {
        this.stompClient.disconnect()
      }
      this.connected = false
    }
  },
  destroyed () {
    this.disconnect()
  },

  computed: {
    userTokenFromStore: {
      get () {
        return this.$store.state.user.token
      }
    }
  },

  watch: {
    userTokenFromStore: {
      handler (newVal) {
        if (newVal) {
          this.connect()
        }
      },
      immediate: true
    }
  }

}
</script>
