<template>
  <div class="page-header">
    <v-card
      class="header-card" :style="{ 'background-color': backGroundColorProp }">
      <v-card-text class="text-center">
        <p class="header-text">
          {{ title }}
        </p>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'PageHeaderComponent',

  props: {
    title: {
      type: String,
      required: true
    },
    backGroundColorProp: {
      type: String,
      required: false,
      default: '#311B92'
    }
  }
}
</script>

<style scoped>

  .header-card {
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .header-text {
    margin: 0;
    font-size: 1.3em;
    color: white;
  }
</style>
