<template>
  <v-container>
    <PageHeaderComponent :title="$t('profile')"/>
    <v-layout
      wrap>
      <v-card
        class="mx-auto ma-4"
        max-width="500"
        outlined>
        <v-img
          width="350px"
          :src="imageUrl"/>
        <v-card-title>
          <v-row>
            <v-col class="d-flex" cols="10">
              {{ name }}
            </v-col>
          </v-row>
        </v-card-title>

        <v-card-subtitle>
          {{ email }}
        </v-card-subtitle>
      </v-card>
    </v-layout>
    <ProfileEditComponent
      :highestEducations="highestEducations"
      :skills="skills"/>
  </v-container>
</template>

<script>

import PageHeaderComponent from '../static/PageHeaderComponent'
import ProfileEditComponent from './edit/ProfileEditComponent'

export default {
  name: 'ProfileComponent',

  components: {
    PageHeaderComponent,
    ProfileEditComponent
  },

  props: {
    name: {
      type: String,
      required: true
    },
    email: {
      type: String,
      required: true
    },
    imageUrl: {
      type: String,
      required: true
    },
    highestEducations: {
      type: Array,
      required: true
    },
    skills: {
      type: Array,
      required: true
    }
  }

}
</script>
