<template>
    <v-row class="ma-0">
      <v-col cols="12">
        <v-row
          align="center"
          justify="start"
          class="grey lighten-5">
          <v-card
            class="free ma-1 pa-1"
            outlined
            tile>
            {{ $t('workRequest.interval.helper.free') }}
          </v-card>
          <v-card
            class="not-available ma-1 pa-1"
            outlined
            tile>
            {{ $t('workRequest.interval.helper.notAvailable') }}
          </v-card>
          <v-card
            class="pending ma-1 pa-1"
            outlined
            tile>
            {{ $t('workRequest.interval.helper.pending') }}
          </v-card>
        </v-row>
      </v-col>
    </v-row>
</template>

<script>
export default {
  name: 'IntervalStatusHelper'
}
</script>

<style scoped>
  .free {
    background-color: #43A047;
    border: 1px solid #1B5E20;
    color: #fff;
    font-size: 12px;
  }
  .not-available {
    background-color: rgba(255, 102, 102, 0.9);
    border: 1px solid rgb(235, 82, 82);
    color: #fff;
    font-size: 12px;
  }
  .pending {
    background-color: rgba(253, 156, 66, 0.9);
    border: 1px solid rgb(233, 136, 46);
    color: #fff;
    font-size: 12px;
  }
</style>
