<template>
  <ReviewComponent/>
</template>

<script>
import ReviewComponent from '../../components/review/ReviewComponent'

export default {
  name: 'Review',

  components: {
    ReviewComponent
  }
}
</script>

<style scoped>

</style>
