<template>
  <v-container>
    <PageHeaderComponent :title="$t('review.detail.header')"/>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <v-btn
          :to="{ name: 'notifications'}"
          outlined
          color="orange darken-2"
          dark>
          <v-icon dark left>mdi-arrow-left</v-icon>{{ $t('back.toNotifications') }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <ReviewWorkCardComponent v-if="!workRequestLoading" :work-request="workRequest"/>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <ReviewCardComponent v-if="!workRequestLoading" :review="workRequest.reviewResponseList[0]" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ReviewWorkCardComponent from '../ReviewWorkCardComponent'
import PageHeaderComponent from '../../static/PageHeaderComponent'
import ReviewCardComponent from '../ReviewCardComponent'

export default {

  name: 'ReviewDetailComponent',

  components: {
    ReviewWorkCardComponent,
    PageHeaderComponent,
    ReviewCardComponent
  },

  data: () => ({
    workRequest: null,
    workRequestLoading: false
  }),

  created () {
    this.workRequestLoading = true
    this.$store.dispatch('findWorkRequestById', this.$route.params.workId).then(res => {
      this.workRequest = res.data
      this.workRequestLoading = false
    })
  }

}
</script>

<style scoped>

</style>
