<template>
  <v-card height="275">
    <v-list>
      <router-link
        class="profile-link"
        to="/profile">
        <v-list-item>
          <v-list-item-avatar>
            <img
              referrerpolicy="no-referrer"
              :src="user.imageUrl"
              alt="profile-image">
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{ user.name }}</v-list-item-title>
            <v-list-item-subtitle>{{ user.googlePlaceName }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </router-link>
    </v-list>

    <v-divider></v-divider>

    <v-row class="ma-1">
      <v-col cols="12" class="pa-2">
        <v-btn
          class="action-btn"
          color="blue darken-3"
          to="/work-requests/incoming"
          outlined
          small
          dark>
          <v-icon left dark>mdi-briefcase</v-icon>
          {{ $t('profile.dropdown.workRequests') }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row class="ma-1" >
      <v-col cols="12" class="pa-2">
        <v-badge
          v-if="user.token !== '' && user.notificationsCount > 0"
          :content="user.notificationsCount"
          :value="user.notificationsCount"
          color="green"
          overlap>
          <v-btn
            class="action-btn"
            color="green darken-1"
            to="/notifications"
            outlined
            small
            dark>
            <v-icon left dark>mdi-bell</v-icon>
            {{ $t('profile.dropdown.notifications') }}
          </v-btn>
        </v-badge>
        <v-btn
          v-else
          class="action-btn"
          color="green darken-1"
          to="/notifications"
          outlined
          small
          dark>
          <v-icon left dark>mdi-bell</v-icon>
          {{ $t('profile.dropdown.notifications') }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row class="ma-1">
      <v-col cols="12" class="pa-2">
        <v-btn
          class="action-btn"
          color="orange"
          to="/profile"
          outlined
          small
          dark>
          <v-icon left dark>mdi-pencil</v-icon>
          {{ $t('profile.dropdown.edit') }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row class="ma-1">
      <v-col cols="12" class="pa-2">
        <v-btn
          class="action-btn"
          color="red"
          @click="logout"
          to="/notifications"
          outlined
          small
          dark>
          <v-icon left dark>mdi-logout</v-icon>
          {{ $t('profile.dropdown.logout') }}
        </v-btn>
      </v-col>

    </v-row>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'
import { store } from '../../../store'
import router from '../../../router'

export default {
  name: 'ProfileDropDownComponent',

  computed: {
    ...mapState([
      'user'
    ])
  },

  methods: {
    logout () {
      store.dispatch('logoutUser', {}).then(() => {
        router.push({ name: 'login' })
      })
    }
  }

}
</script>

<style scoped>
  .profile-link {
    text-decoration: none;
  }

  .action-btn {
    width: 100%;
  }
</style>
