<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col xl="6" lg="6" md="8" sm="12">
        <PageHeaderComponent :title="$t('workRequest.detail.title')"/>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col xl="4" lg="6" md="8" sm="12">
        <v-card>
          <v-row>
            <v-col xl="4" lg="6" md="6" sm="12" cols="12" class="pa-4">
              <span>{{ $t('workRequest.detail.normalUser') }}: </span>
              <span v-if="workRequestData" class="work-detail-value">{{ workRequestData.normalUser.name }}</span>
            </v-col>
            <v-col xl="4" lg="6" md="6" sm="12" cols="12" class="pa-4">
              <span>{{ $t('workRequest.detail.status') }}: </span>
              <span v-if="workRequestData" class="work-detail-value" :style="{color: getWorkStatusColor()}" >{{ $t(getWorkStatus()) }}</span>
            </v-col>
          </v-row>
          <v-row>
            <v-col xl="4" lg="6" md="6" sm="12" cols="12" class="pa-4">
              <span>{{ $t('workRequest.detail.worker') }}: </span>
              <span v-if="workRequestData" class="work-detail-value">{{ workRequestData.worker.name }}</span>
            </v-col>
            <v-col xl="4" lg="6" md="6" sm="12" cols="12" class="pa-4">
              <span>{{ $t('workRequest.detail.interval') }}: </span>
              <span v-if="workRequestData" class="work-detail-value">{{ workRequestData.intervalPayload.start }} - {{ workRequestData.intervalPayload.end }}</span>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-4">
              <v-card
                class="pa-2"
                outlined
                tile
              >
                <p v-if="workRequestData" id="detailStartMsg">{{workRequestData.startMsg }}</p>
              </v-card>
            </v-col>
          </v-row>
          <v-row v-if="workRequestData && (workRequestData.accepted === null || workRequestData.accepted === false) && getWorkStatus() === 'WORK_PENDING'">
            <v-col class="pa-4">
              <v-layout justify-end>
                <v-btn
                  color="green"
                  text>
                  {{ $t('notifications.workRequest.card.accept') }}
                </v-btn>
                <v-btn
                  color="red"
                  text>
                  {{ $t('notifications.workRequest.card.decline') }}
                </v-btn>
              </v-layout>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PageHeaderComponent from '../../static/PageHeaderComponent'
import { calculateWorkStatus } from '@/mixins/work/calculateWorkStatus'
import { calculateWorkStatusColor } from '@/mixins/work/calculateWorkStatusColor'

export default {
  name: 'WorkRequestDetailComponent',

  components: {
    PageHeaderComponent
  },

  data: () => ({
    workRequestData: null,
    workRequestLoading: false
  }),

  mixins: [calculateWorkStatus, calculateWorkStatusColor],

  created () {
    this.workRequestLoading = true
    this.$store.dispatch('findWorkRequestById', this.$route.params.workId).then(res => {
      this.workRequestData = res.data
      this.workRequestLoading = false
    })
  },

  methods: {
    acceptWorkRequest (accepted) {
      this.$store.dispatch('acceptWorkRequest', {
        accepted: accepted,
        workId: this.workRequest.id
      }).then(res => {
        this.workRequestData.accepted = res.data
      })
    }
  }
}
</script>

<style scoped>
.work-detail-value {
  opacity: 0.8;
  font-size: 0.95em;
}
#detailStartMsg {
  opacity: 0.8;
  font-size: 0.85em;
  font-style: italic;
}
</style>
