<template>
  <v-container>
    <PageHeaderComponent :title="$t('workers.Header')"/>
    <WorkerFilterComponent :skills="skills" />
    <WorkerListComponent />
  </v-container>
</template>

<script>

import PageHeaderComponent from '../../static/PageHeaderComponent'
import WorkerListComponent from '../search/list/WorkerListComponent'
import WorkerFilterComponent from './list/WorkerFilterComponent'

export default {
  name: 'WorkerSearchComponent',

  components: {
    WorkerFilterComponent,
    PageHeaderComponent,
    WorkerListComponent
  },

  props: {
    skills: {
      type: Array,
      required: true
    }
  }

}
</script>
