<template>
  <WorkRequestDetailComponent />
</template>

<script>
import WorkRequestDetailComponent from '@/components/work/detail/WorkRequestDetailComponent'

export default {
  name: 'WorkRequestDetail',

  components: {
    WorkRequestDetailComponent
  }
}
</script>

<style scoped>

</style>
