<template>
  <div>
    <div>
      <LandingComponent />
    </div>
    <div class="worker-user-instructions">
      <WorkerInstructionsComponent />
    </div>
    <hr>
    <div class="normal-user-instructions">
      <NormalUserInstructionsComponent />
    </div>
  </div>
</template>

<script>
import LandingComponent from '../components/landing/LandingComponent'
import WorkerInstructionsComponent from '../components/landing/WorkerInstructionsComponent'
import NormalUserInstructionsComponent from '../components/landing/NormalUserInstructionsComponent'

export default {
  name: 'Home',

  components: {
    LandingComponent,
    WorkerInstructionsComponent,
    NormalUserInstructionsComponent
  }
}
</script>

<style scoped>
  hr {
    border: 2px solid #EDE7F6;
    border-radius: 5px;
  }
  .normal-user-instructions {
    background: linear-gradient(to bottom,white, #EDE7F6);
  }
</style>
