<template>
  <div class="language-div">
    <v-select v-model="$i18n.locale" :items="langs" :hide-details="true">
      <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang"></option>
    </v-select>
  </div>
</template>

<script>
export default {
  name: 'localeChangerComponent',
  data () {
    return { langs: ['hu', 'en'] }
  }
}
</script>

<style scoped>
.language-div {
  width: 54px;
}
</style>
