<template>
  <v-container>
    <PageHeaderComponent
      :title="$t('workRequest.schedule.header')"
      back-ground-color-prop="#616161"/>
    <IntervalStatusHelper />
    <v-row class="ma-0">
      <v-col class="ma-0">
        <vue-cal
          xsmall
          :locale="$i18n.locale"
          default-view="week"
          :time="false"
          :events="modifiedIntervalPayloadList"
          :min-date="new Date()"
          @event-focus="eventFocused"
          :disable-views="['years', 'year', 'day']">
        </vue-cal>
      </v-col>
    </v-row>
    <v-row class="ma-2">
      <v-col class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 ma-0 pa-0">
        <p class="ma-0 selected-interval-label" v-if="!selectedFormattedInterval">
          <v-icon class="ma-1" size="18px" color="blue">
            {{ 'fas fa-exclamation-circle' }}
          </v-icon>
          {{ $t('workRequest.schedule.chooseInterval') }}
        </p>
        <p class="ma-0 selected-interval-label"  v-if="selectedFormattedInterval">{{ $t('workRequest.schedule.chosenInterval') }}</p>
        <p class="ma-0 selected-interval" v-if="selectedFormattedInterval">{{ selectedFormattedInterval }}</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import VueCal from 'vue-cal'

import PageHeaderComponent from '../../static/PageHeaderComponent'
import IntervalStatusHelper from '../../static/interval/IntervalStatusHelper'
import { store } from '../../../store'

export default {
  name: 'IntervalChooseComponent',

  components: {
    PageHeaderComponent,
    IntervalStatusHelper,
    VueCal
  },

  props: {
    intervalList: {
      type: Array,
      required: true
    }
  },

  data: () => ({
    modifiedIntervalPayloadList: [],
    selectedFormattedInterval: null
  }),

  computed: {
    selectedIntervalId: {
      get () {
        return this.$store.state.workRequest.selectedIntervalId
      },
      set (selectedIntervalId) {
        store.dispatch('setSelectedIntervalId', selectedIntervalId)
      }
    }
  },

  watch: {
    intervalList: {
      handler (newVal) {
        if (newVal) {
          this.modifiedIntervalPayloadList = this.intervalList.map(obj => ({
            ...obj,
            content: this.$dayjs(obj.start).format('HH:mm').concat(' - ').concat('<br>').concat(this.$dayjs(obj.end).format('HH:mm')),
            class: obj.intervalStatus === 'FREE' ? 'leisure' : (obj.intervalStatus === 'PENDING') ? 'health' : 'sport'
          }))
        }
      },
      immediate: true
    }
  },

  methods: {
    eventFocused (data) {
      if (data.intervalStatus === 'FREE' || data.intervalStatus === 'PENDING') {
        this.selectedFormattedInterval = this.$dayjs(data.start).format('YYYY-MM-DD HH:mm').concat(' - ').concat(this.$dayjs(data.end).format('YYYY-MM-DD HH:mm'))
        this.selectedIntervalId = data.id
      }
    }
  }
}
</script>

<style>
  .vuecal__event.sport {background-color: rgba(255, 102, 102, 0.9);border: 1px solid rgb(235, 82, 82);color: #fff;}
  .vuecal__event.health {background-color: rgba(253, 156, 66, 0.9);border: 1px solid rgb(233, 136, 46);color: #fff;}
  .vuecal__event.leisure {background-color: #43A047; border: 1px solid #1B5E20; color: #fff;}
</style>
