<template>
  <v-container>
    <PageHeaderComponent
      :title="$t('workRequest.skillChoose.header')"
      back-ground-color-prop="#616161"/>
    <template class="ma-0 pa-0" v-for="(skill, index) in skillList">
      <v-chip v-bind:key="index" @click="selectSkill(skill)" :color="determineSkillColor(skill)" class="ma-2" text-color="white">{{ $t(skill) }}</v-chip>
    </template>
  </v-container>
</template>

<script>
import PageHeaderComponent from '../../static/PageHeaderComponent'
import { store } from '../../../store'

export default {
  name: 'SkillChooseComponent',

  components: {
    PageHeaderComponent
  },

  props: {
    skillList: {
      type: Array,
      required: true
    }
  },

  computed: {
    selectedSkill: {
      get () {
        return this.$store.state.workRequest.selectedSkill
      },
      set (selectedSkill) {
        store.dispatch('setSelectedSkill', selectedSkill)
      }
    }
  },

  methods: {
    selectSkill (skill) {
      this.selectedSkill = skill
    },
    determineSkillColor (skill) {
      if (skill === this.selectedSkill) {
        return '#2E7D32'
      } else {
        return '#616161'
      }
    }
  }
}
</script>

<style scoped>

</style>
