<template>
  <v-container>
    <PageHeaderComponent
      :title="$t('workRequest.details.header')"
      back-ground-color-prop="#616161"/>
    <form>
      <v-row class="ma-0">
        <v-col class="ma-0">
          <v-text-field
            v-model="workRequestTitle"
            :error-messages="workRequestTitleErrors"
            :label="$t('workRequest.details.title')"
            required
            @input="$v.workRequestTitle.$touch()"
            @blur="$v.workRequestTitle.$touch()"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col class="ma-0">
          <v-textarea
            v-model="workRequestStartMsg"
            :error-messages="workRequestStartMsgErrors"
            :label="$t('workRequest.details.startMsg')"
            required
            rows="3"
            @input="$v.workRequestStartMsg.$touch()"
            @blur="$v.workRequestStartMsg.$touch()"
          ></v-textarea>
        </v-col>
      </v-row>
    </form>
  </v-container>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'

import PageHeaderComponent from '../../static/PageHeaderComponent'
import i18n from '../../../i18n'
import { store } from '../../../store'

export default {
  name: 'WrittenDetailsComponent',

  components: {
    PageHeaderComponent
  },

  mixins: [validationMixin],

  validations: {
    workRequestTitle: { required, minLength: minLength(2), maxLength: maxLength(30) },
    workRequestStartMsg: { required, minLength: minLength(5), maxLength: maxLength(255) }
  },

  computed: {
    workRequestTitle: {
      get () {
        return this.$store.state.workRequest.title
      },
      set (workRequestTitle) {
        store.dispatch('setTitle', workRequestTitle)
      }
    },
    workRequestStartMsg: {
      get () {
        return this.$store.state.workRequest.starterMsg
      },
      set (workRequestStartMsg) {
        store.dispatch('setStarterMsg', workRequestStartMsg)
      }
    },
    workRequestTitleErrors () {
      const errors = []
      if (!this.$v.workRequestTitle.$dirty) return errors
      !this.$v.workRequestTitle.minLength && errors.push(i18n.t('workRequest.details.title.tooShort'))
      !this.$v.workRequestTitle.maxLength && errors.push(i18n.t('workRequest.details.title.tooLong'))
      !this.$v.workRequestTitle.required && errors.push(i18n.t('workRequest.details.title.required'))
      this.$emit('formErrorCheck', this.$v)
      return errors
    },
    workRequestStartMsgErrors () {
      const errors = []
      if (!this.$v.workRequestStartMsg.$dirty) return errors
      !this.$v.workRequestStartMsg.minLength && errors.push(i18n.t('workRequest.details.startMsg.tooShort'))
      !this.$v.workRequestStartMsg.maxLength && errors.push(i18n.t('workRequest.details.startMsg.tooLong'))
      !this.$v.workRequestStartMsg.required && errors.push(i18n.t('workRequest.details.startMsg.required'))
      this.$emit('formErrorCheck', this.$v)
      return errors
    }
  }
}
</script>

<style scoped>

</style>
