<template>
  <v-alert v-if="currentWorkRequestId" class="ma-3 d-none d-sm-flex" color="info" dense>
    <router-link :to="{ name: 'workRequestDetail', params: { workId: currentWorkRequestId }}" class="router-link white--text">
      <div class="ma-0 caption">
        {{$t('workRequest.inProgress') }}
        <countdown :time="workRequestLeftTimeInMilliseconds">
          <template slot-scope="props">{{ props.hours }}:{{ props.minutes }}:{{ props.seconds }}</template>
        </countdown>
      </div>
    </router-link>
  </v-alert>
</template>

<script>
export default {
  name: 'ActiveWorkRequestComponent',

  data: () => ({
    acceptedWorkRequestList: [],
    currentWorkRequestId: null,
    currentWorkRequestEndTime: null,
    workRequestLeftTimeInMilliseconds: null
  }),

  mounted () {
    this.$store.dispatch('findIncomingWorkRequests', {
      pagingRequest: {
        pageSize: 5,
        page: 0
      },
      workSearchRequest: {
        workStatus: 'WORK_IN_PROGRESS',
        workDirection: 'INCOMING'
      }
    }).then(res => {
      this.acceptedWorkRequestList = res.data.content
      this.getCurrentlyActiveWorkRequest(this.acceptedWorkRequestList)
    })
  },

  methods: {
    getCurrentlyActiveWorkRequest (workRequestList) {
      workRequestList.forEach((workRequest) => {
        if ((this.$dayjs(workRequest.intervalPayload.start).isBefore(this.$dayjs(new Date()).format('YYYY-MM-DD HH:mm:ss'))) &&
          (this.$dayjs(workRequest.intervalPayload.end).isAfter(this.$dayjs(new Date()).format('YYYY-MM-DD HH:mm:ss')))) {
          this.currentWorkRequestId = workRequest.id
          this.currentWorkRequestEndTime = workRequest.intervalPayload.end
          this.workRequestLeftTimeInMilliseconds = Math.abs(new Date(workRequest.intervalPayload.end).getTime() - new Date().getTime())
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
