<template>
  <AddIntervalComponent/>
</template>

<script>
import AddIntervalComponent from '../../components/interval/AddIntervalComponent'

export default {
  name: 'AddInterval',

  components: {
    AddIntervalComponent
  }
}
</script>

<style scoped>

</style>
