<template>
  <v-container>
    <PageHeaderComponent :title="$t('addInterval')"/>
    <v-card
      class="mx-auto"
      max-width="650"
      outlined>
      <v-row>
        <v-col cols="12">
          <IntervalComponent
            :intervals="intervalsData"
            @eventDeleted="removeEvent"
            @eventEdited="editEvent"/>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex justify-center" cols="12">
          <v-btn @click="editIntervals"
                 :loading="isSaveIntervalsLoading"
                 :disabled="checkIfFormDataNotChanged()"
                 class="ma-2"
                 tile
                 outlined
                 color="success">
            {{ $t('addInterval.save') }}
          </v-btn>
        </v-col>
        <v-dialog
          v-model="dialog"
          max-width="350">
          <v-card>
            <v-card-title class="headline">{{ $t('addInterval.submit.confirm.header') }}</v-card-title>
            <v-card-text>
              {{ $t('addInterval.submit.confirm.description') }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="red darken-1"
                text
                @click="closeDialog()">
                {{ $t('addInterval.submit.confirm.decline') }}
              </v-btn>
              <v-btn
                color="green darken-1"
                text
                :loading="isSaveIntervalsConfirmLoading"
                @click="editIntervalsCore()">
                {{ $t('addInterval.submit.confirm.accept') }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import PageHeaderComponent from '../static/PageHeaderComponent'
import IntervalComponent from './IntervalComponent'
import i18n from '../../i18n'

export default {
  name: 'AddIntervalComponent',

  components: {
    PageHeaderComponent,
    IntervalComponent
  },

  data: () => ({
    intervalsData: [],
    isSaveIntervalsLoading: false,
    isSaveIntervalsConfirmLoading: false,
    dialog: false
  }),

  computed: {
    intervalsFromStore: {
      get () {
        return this.$store.state.user.intervals
      }
    }
  },

  watch: {
    intervalsFromStore: {
      handler (newVal) {
        if (newVal) {
          this.intervalsData = Object.assign([], newVal)
        }
      },
      immediate: true
    },
    dialog (val) {
      val || this.closeDialog()
    }
  },

  mounted () {
    this.$store.dispatch('loadUser', {})
  },

  methods: {
    removeEvent (eventData) {
      const eventDeletePos = this.intervalsData.findIndex(item => item.id === eventData.eventId)
      if (eventDeletePos > -1) this.intervalsData.splice(eventDeletePos, 1)
    },
    editEvent (eventData) {
      const newIntervalsData = this.intervalsData.map(obj =>
        obj.id === eventData.eventId ? {
          ...obj,
          start: this.$dayjs(eventData.dateTimeFrom).format('YYYY-MM-DD HH:mm:ss'),
          end: this.$dayjs(eventData.dateTimeTo).format('YYYY-MM-DD HH:mm:ss')
        } : obj
      )
      this.intervalsData = newIntervalsData
    },
    checkIfFormDataNotChanged () {
      return JSON.stringify(this.intervalsFromStore) === JSON.stringify(this.intervalsData)
    },
    editIntervals () {
      this.isSaveIntervalsLoading = true
      this.dialog = true
    },
    editIntervalsCore () {
      this.isSaveIntervalsLoading = true
      if (this.dialog) {
        this.isSaveIntervalsConfirmLoading = true
      }
      this.$store.dispatch('editUserInterval', {
        intervalList: this.intervalsData
      }).then(res => {
        this.isSaveWorkRequestLoading = false
        if (this.dialog) {
          this.isSaveIntervalsConfirmLoading = false
          this.dialog = false
        }
        if (res.status === 200) {
          this.$store.dispatch('setIsVisible', true)
          this.$store.dispatch('setColor', 'success')
          this.$store.dispatch('setAlertMsg', i18n.t('addInterval.saved'))
          this.$store.dispatch('loadUser', {})
        }
      }).catch(() => {
        this.$store.dispatch('setIsVisible', true)
        this.$store.dispatch('setColor', 'error')
        this.$store.dispatch('setAlertMsg', i18n.t('addInterval.saveError'))
      })
    },
    closeDialog () {
      this.dialog = false
      this.isSaveIntervalsLoading = false
    }
  }
}
</script>

<style scoped>

</style>
