<template>
  <v-card
    class="mx-auto"
    width="550"
    outlined>
    <v-card-title>{{ $t('profile.intervals') }}</v-card-title>
    <v-card-text>
      <DateTimeRangePickerComponent
        :selected-date="selectedDate"
        :selected-event="selectedEvent"
        :event-edit-mode="eventEditMode"
        @dateTimeFromToSet="addEvent"
        @dateTimeFromToEdit="onEditEvent"
        @editModeSetToFalse="setEditMode" />
    </v-card-text>
    <vue-cal
      xsmall
      :locale="$i18n.locale"
      default-view="week"
      :time-from="6 * 60"
      :time-to="20 * 60"
      :events="events"
      :min-date="new Date()"
      @cell-click="setSelectedDate"
      @event-delete="onEventDelete"
      @event-focus="onEventFocus"
      :disable-views="['years', 'year']"
      editable-events
      class="vuecal--full-height-delete">
    </vue-cal>
  </v-card>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import 'vue-cal/dist/i18n/hu.js'
import DateTimeRangePickerComponent from './datetime/DateTimeRangePickerComponent'

export default {
  name: 'IntervalComponent',

  components: {
    VueCal,
    DateTimeRangePickerComponent
  },

  data: () => ({
    events: [],
    selectedDate: null,
    selectedEvent: null,
    eventEditMode: false
  }),

  props: {
    intervals: {
      type: Array
    }
  },

  watch: {
    intervals: {
      handler (newVal) {
        if (newVal) {
          this.events = newVal
        }
      },
      immediate: true
    }
  },

  methods: {
    setSelectedDate (event) {
      this.selectedDate = event
    },
    setEditMode (editMode) {
      this.eventEditMode = editMode
    },
    addEvent (event) {
      const isDateIntervalAlreadyUsed = this.checkIfEventAlreadyInEventList(event)
      if (!isDateIntervalAlreadyUsed) {
        this.events.push({
          id: new Date().getTime(),
          start: this.$dayjs(event.dateTimeFrom).format('YYYY-MM-DD HH:mm:ss'),
          end: this.$dayjs(event.dateTimeTo).format('YYYY-MM-DD HH:mm:ss'),
          class: 'work'
        })
      }
    },
    onEditEvent (eventData) {
      const isDateIntervalAlreadyUsed = this.checkIfEventAlreadyInEventList(eventData)
      if (!isDateIntervalAlreadyUsed) {
        this.$emit('eventEdited', eventData)
        this.eventEditMode = true
      }
    },
    onEventDelete (eventData) {
      this.eventEditMode = false
      this.$emit('eventDeleted', {
        eventId: eventData.id
      })
    },
    onEventFocus (eventData) {
      this.eventEditMode = true
      this.selectedEvent = eventData
    },
    checkIfEventAlreadyInEventList (event) {
      let isDateIntervalAlreadyUsed = false
      this.events.forEach((arrayItem) => {
        if ((this.$dayjs(event.dateTimeFrom).isAfter(arrayItem.start) && this.$dayjs(event.dateTimeFrom).isBefore(arrayItem.end)) ||
          (this.$dayjs(event.dateTimeTo).isAfter(arrayItem.start) && this.$dayjs(event.dateTimeFrom).isBefore(arrayItem.end))) {
          isDateIntervalAlreadyUsed = true
        }
      })
      return isDateIntervalAlreadyUsed
    }
  }

}
</script>

<style>
  .vuecal__no-event {
    display: none;
  }
  .vuecal__menu, .vuecal__cell-events-count {background-color: #311B92;}
  .vuecal__menu button {border-bottom-color: #fff;color: #fff;}
  .vuecal__menu button.active {background-color: rgba(255, 255, 255, 0.15);}
  .vuecal__title-bar {background-color: #311B92;}
  .vuecal__cell.today, .vuecal__cell.current {background-color: rgba(240, 240, 255, 0.4);}
  .vuecal:not(.vuecal--day-view) .vuecal__cell.selected {background-color: rgba(235, 255, 245, 0.4);}
  .vuecal__cell.selected:before {border-color: rgba(66, 185, 131, 0.5);}

  .vuecal__event {
    border: 1px solid #311B92;
    background: rgba(164,230,210,.9);
  }
</style>
