<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-menu
          class="pa-0"
          ref="datePicker"
          v-model="datePicker"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px">
          <template v-slot:activator="{ on }">
            <v-text-field
              class="pa-0"
              v-model="workDayDateFormatted"
              color="#311B92"
              :label="$t('workers.filter.workDay')"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="workDayDate"
            color="#311B92"
            no-title @input="datePicker = false"
            first-day-of-week="1"
            :min="new Date().toISOString().slice(0,10)"
            :locale="$i18n.locale"></v-date-picker>
        </v-menu>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn
          x-small
          color="#e8817f"
          class="white--text"
          @click="setMorningTimeFromTemplate">
          {{ $t('profile.businessHours.template.morning') }}
        </v-btn>
      </v-col>
      <v-col>
        <v-btn
          x-small
          color="#c3727c"
          class="white--text"
          @click="setAmTimeFromTemplate">
          {{ $t('profile.businessHours.template.am') }}
        </v-btn>
      </v-col>
      <v-col>
        <v-btn
          x-small
          color="#8d5273"
          class="white--text"
          @click="setAfternoonTimeFromTemplate">
          {{ $t('profile.businessHours.template.afternoon') }}
        </v-btn>
      </v-col>
      <v-col>
        <v-btn
          x-small
          color="#5a336e"
          class="white--text"
          @click="setNightTimeFromTemplate">
          {{ $t('profile.businessHours.template.night') }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <label for="dateTimeFrom">{{ $t('profile.businessHours.start') }}</label>
        <datetime
          type="time"
          id="dateTimeFrom"
          input-id="dateTimeFrom"
          input-class="time-class"
          :min-datetime="minDateTimeFrom"
          :max-datetime="maxDateTimeFrom"
          v-model="dateTimeFrom"/>
      </v-col>
      <v-col>
        <label for="dateTimeTo">{{ $t('profile.businessHours.end') }}</label>
        <datetime
          type="time"
          id="dateTimeTo"
          input-id="dateTimeTo"
          input-class="time-class"
          :min-datetime="minDateTimeTo"
          :max-datetime="maxDateTimeTo"
          v-model="dateTimeTo"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { Datetime } from 'vue-datetime'
import 'vue-datetime/dist/vue-datetime.css'
import { store } from '../../../store'

export default {
  name: 'DateTimeRangePickerComponent',

  data () {
    return {
      datePicker: false,
      workDayDate: '',
      workDayDateFormatted: '',
      selectedDateData: '',
      dateTimeFrom: null,
      dateTimeTo: null,
      minDateTimeFrom: null,
      minDateTimeTo: null,
      maxDateTimeFrom: null,
      maxDateTimeTo: null
    }
  },

  components: {
    datetime: Datetime
  },

  props: {
    selectedDate: {
      type: Date
    },
    selectedEvent: {
      type: Object
    },
    eventEditMode: {
      type: Boolean
    }
  },

  computed: {
    searchDateFormatted: {
      get () {
        return this.$store.state.workerSearch.searchDate
      },
      set (searchDate) {
        store.dispatch('setSearchDate', searchDate)
      }
    }
  },

  watch: {
    selectedDate: {
      handler (newVal) {
        if (newVal) {
          this.$emit('editModeSetToFalse', false)
          this.workDayDate = this.$dayjs(newVal).format('YYYY-MM-DD')
          this.dateTimeFrom = this.$dayjs(newVal).format('YYYY-MM-DDTHH:mm:ss')
          this.dateTimeTo = this.$dayjs(newVal).format('YYYY-MM-DDTHH:mm:ss')
        }
      },
      immediate: true
    },
    selectedEvent: {
      handler (newVal) {
        if (newVal) {
          this.workDayDate = this.$dayjs(newVal.start).format('YYYY-MM-DD')
          this.dateTimeFrom = this.$dayjs(newVal.start).format('YYYY-MM-DDTHH:mm:ss')
          this.dateTimeTo = this.$dayjs(newVal.end).format('YYYY-MM-DDTHH:mm:ss')
        }
      },
      immediate: true
    },
    workDayDate: {
      handler (newVal) {
        if (newVal) {
          this.workDayDateFormatted = this.formatDate(this.workDayDate)
          this.dateTimeFrom = null
          this.dateTimeTo = null
          this.setMinDateTimeFrom()
          this.setMinDateTimeTo()
          this.setMaxDateTimeFrom()
          this.setMaxDateTimeTo()
        }
      },
      immediate: true
    },
    dateTimeFrom: {
      handler (newVal) {
        this.setMinDateTimeTo()
        this.setMaxDateTimeTo()
      }
    },
    dateTimeTo: {
      handler (newVal) {
        this.setMinDateTimeFrom()
        this.setMaxDateTimeFrom()
        if (this.dateTimeFrom !== null) {
          if (this.eventEditMode) {
            this.editDateFromDateTo()
          } else {
            this.addDateFromDateTo()
          }
        }
      }
    }
  },

  mounted () {
    this.workDayDate = this.$dayjs(new Date()).format('YYYY-MM-DD')
    this.setMinDateTimeFrom()
    this.setMinDateTimeTo()
    this.setMaxDateTimeFrom()
    this.setMaxDateTimeTo()
  },

  // TODO: metódusok kiszervezése
  methods: {
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${year}-${month}-${day}`
    },
    addDateFromDateTo () {
      this.$emit('dateTimeFromToSet', {
        dateTimeFrom: this.dateTimeFrom,
        dateTimeTo: this.dateTimeTo
      })
    },
    editDateFromDateTo () {
      this.$emit('dateTimeFromToEdit', {
        eventId: this.selectedEvent.id,
        dateTimeFrom: this.dateTimeFrom,
        dateTimeTo: this.dateTimeTo
      })
    },
    setMinDateTimeFrom () {
      if (this.$dayjs(new Date()).format('YYYY-MM-DD') === this.workDayDate) {
        this.minDateTimeFrom = this.$dayjs(new Date()).add(1, 'hour').format('YYYY-MM-DDTHH:mm:ss')
      } else {
        this.minDateTimeFrom = this.$dayjs(this.workDayDate)
          .set('hour', 6)
          .set('minute', 0)
          .set('second', 0)
          .format('YYYY-MM-DDTHH:mm:ss')
      }
    },
    setMinDateTimeTo () {
      if (this.dateTimeFrom) {
        this.minDateTimeTo = this.$dayjs(this.dateTimeFrom).add(1, 'hour').format('YYYY-MM-DDTHH:mm:ss')
      } else {
        this.minDateTimeTo = this.$dayjs(this.minDateTimeFrom).add(1, 'hour').format('YYYY-MM-DDTHH:mm:ss')
      }
    },
    setMaxDateTimeFrom () {
      if (this.dateTimeTo) {
        this.maxDateTimeFrom = this.$dayjs(this.dateTimeTo).add(-1, 'hour').format('YYYY-MM-DDTHH:mm:ss')
      } else {
        this.maxDateTimeFrom = this.$dayjs(this.workDayDate)
          .set('hour', 19)
          .set('minute', 0)
          .set('second', 0)
          .format('YYYY-MM-DDTHH:mm:ss')
      }
    },
    setMaxDateTimeTo () {
      this.maxDateTimeTo = this.$dayjs(this.workDayDate)
        .set('hour', 19)
        .set('minute', 0)
        .set('second', 0)
        .format('YYYY-MM-DDTHH:mm:ss')
    },
    setMorningTimeFromTemplate () {
      this.dateTimeFrom = this.$dayjs(this.workDayDate)
        .set('hour', 6)
        .set('minute', 0)
        .set('second', 0)
        .format('YYYY-MM-DDTHH:mm:ss')
      this.dateTimeTo = this.$dayjs(this.workDayDate)
        .set('hour', 9)
        .set('minute', 0)
        .set('second', 0)
        .format('YYYY-MM-DDTHH:mm:ss')
    },
    setAmTimeFromTemplate () {
      this.dateTimeFrom = this.$dayjs(this.workDayDate)
        .set('hour', 9)
        .set('minute', 0)
        .set('second', 0)
        .format('YYYY-MM-DDTHH:mm:ss')
      this.dateTimeTo = this.$dayjs(this.workDayDate)
        .set('hour', 12)
        .set('minute', 0)
        .set('second', 0)
        .format('YYYY-MM-DDTHH:mm:ss')
    },
    setAfternoonTimeFromTemplate () {
      this.dateTimeFrom = this.$dayjs(this.workDayDate)
        .set('hour', 12)
        .set('minute', 0)
        .set('second', 0)
        .format('YYYY-MM-DDTHH:mm:ss')
      this.dateTimeTo = this.$dayjs(this.workDayDate)
        .set('hour', 17)
        .set('minute', 0)
        .set('second', 0)
        .format('YYYY-MM-DDTHH:mm:ss')
    },
    setNightTimeFromTemplate () {
      this.dateTimeFrom = this.$dayjs(this.workDayDate)
        .set('hour', 17)
        .set('minute', 0)
        .set('second', 0)
        .format('YYYY-MM-DDTHH:mm:ss')
      this.dateTimeTo = this.$dayjs(this.workDayDate)
        .set('hour', 22)
        .set('minute', 0)
        .set('second', 0)
        .format('YYYY-MM-DDTHH:mm:ss')
    },
    isAddEventDisabled () {
      let disabled = false
      if (!(this.dateTimeFrom && this.dateTimeTo)) {
        disabled = true
      }
      return disabled
    }
  }
}
</script>

<style>
  .vdatetime {
    border: 1px solid #000;
    margin-right: 5px;
  }

  .vdatetime-popup__header {
    background: #311B92;
  }

  .vdatetime-time-picker__item--selected {
    color: #311B92;
  }

  .vdatetime-popup__actions__button {
    color: #311B92;
  }

  .vuecal__flex.vuecal__title {
    color: white;
  }

  .angle {
    color: white;
  }

  div.vuecal__event {
    background: #B39DDB;
  }

  .vuecal__event-time {
    color: white;
  }
</style>
