<template>
  <ProfileComponent
    :name="user.name"
    :email="user.email"
    :image-url="user.imageUrl"
    :skills="getTranslatedSkills"
    :highest-educations="getTranslatedHighestEducations"/>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

import { store } from '../../store'
import ProfileComponent from '../../components/user/ProfileComponent'

export default {
  name: 'Profile',

  components: {
    ProfileComponent
  },

  computed: {
    ...mapGetters([
      'getTranslatedSkills',
      'getTranslatedHighestEducations'
    ]),
    ...mapState([
      'user'
    ])
  },

  mounted () {
    store.dispatch('loadUser', {})
  }
}
</script>
