<template>
  <WorkRequestListComponent />
</template>

<script>

import WorkRequestListComponent from '../../components/work/WorkRequestListComponent'
export default {

  name: 'WorkRequestList',

  components: {
    WorkRequestListComponent
  }
}
</script>

<style scoped>

</style>
