<template>
  <v-container>
    <PageHeaderComponent :title="$t('workerDetail.header', { name: worker.workerName })"/>
    <v-card>
      <v-tabs
        v-model="tab"
        background-color="grey darken-1"
        color="white"
        centered
        dark
        icons-and-text>
        <v-tabs-slider></v-tabs-slider>

        <v-tab href="#tab-1">
          {{ $t('workerDetail.base') }}
          <v-icon>mdi-newspaper-variant</v-icon>
        </v-tab>

        <v-tab href="#tab-2">
          {{ $t('workerDetail.schedule') }}
          <v-icon>mdi-clock</v-icon>
        </v-tab>

        <v-tab href="#tab-3">
          {{ $t('workerDetail.reviews') }}
          <v-icon>mdi-star</v-icon>
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item
          v-for="i in 3"
          :key="i"
          :value="'tab-' + i">
          <v-card v-if="i === 1" flat>
            <v-row justify="center">
              <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
                <WorkerBaseDetailComponent :worker="worker"/>
              </v-col>
            </v-row>
          </v-card>
          <v-card v-if="i === 2" flat>
            <v-row justify="center">
              <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
                <DetailWorkerScheduleComponent :interval-list="worker.workerIntervals"/>
              </v-col>
            </v-row>
          </v-card>
          <v-card v-if="i === 3" flat>
            <v-row justify="center">
              <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
                <ReviewListComponent :worker="worker"/>
              </v-col>
            </v-row>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import PageHeaderComponent from '../../static/PageHeaderComponent'
import WorkerBaseDetailComponent from './WorkerBaseDetailComponent'
import DetailWorkerScheduleComponent from './DetailWorkerScheduleComponent'
import ReviewListComponent from '../../review/ReviewListComponent'

export default {
  name: 'DetailWorkerComponent',

  components: {
    ReviewListComponent,
    DetailWorkerScheduleComponent,
    PageHeaderComponent,
    WorkerBaseDetailComponent
  },

  data () {
    return {
      tab: null
    }
  },

  computed: {
    ...mapState([
      'worker'
    ])
  },

  mounted () {
    this.$store.dispatch('getWorkerById', this.$route.params.workerId)
  },

  destroyed () {
    this.$store.dispatch('resetWorker')
  }

}
</script>
