<template>
  <v-container>
    <v-card class="pa-5">
      <v-row class="ma-2">
        <v-col>
          <v-card
            class="mx-auto"
            width="450"
            outlined>
            <vue-cal
              xsmall
              :locale="$i18n.locale"
              default-view="week"
              :time-from="6 * 60"
              :time-to="20 * 60"
              :events="modifiedIntervalPayloadList"
              :disable-views="['years', 'year', 'day']"
              class="vuecal--full-height-delete">
            </vue-cal>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import VueCal from 'vue-cal'

export default {

  name: 'DetailWorkerScheduleComponent',

  components: {
    VueCal
  },

  data: () => ({
    modifiedIntervalPayloadList: []
  }),

  props: {
    intervalList: {
      type: Array,
      required: true
    }
  },

  mounted () {
    this.modifiedIntervalPayloadList = this.intervalList.map(obj => ({
      ...obj,
      class: obj.intervalStatus === 'FREE' ? 'leisure' : (obj.intervalStatus === 'PENDING') ? 'health' : 'sport'
    }))
  }
}
</script>

<style>
</style>
