<template>
  <v-container>
    <v-card class="pa-5">
      <v-row class="ma-2">
        <v-col class="col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-4 ma-0 pa-0">
          <img
            referrerpolicy="no-referrer"
            class="ma-0 pa-0"
            width="125px"
            min-width="125px"
            :src="worker.workerImageUrl"/>
        </v-col>
        <v-col class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 ma-0 pa-0">
          <p class="text--primary header-text pa-0 ma-0">
            {{ worker.workerName }}
          </p>
          <p class="google-place-name">
            {{ worker.googlePlaceName }}
          </p>
          <template class="ma-0 pa-0" v-for="(skill, index) in worker.workerSkillList">
            <v-chip v-bind:key="index" color="#d04799" small class="ma-2" text-color="white">{{ $t(skill) }}</v-chip>
          </template>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>

export default {

  name: 'WorkerBaseDetailComponent',

  props: {
    worker: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>
  .google-place-name {
    color: lightslategray;
  }
</style>
