<template>
  <v-card flat>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <IncomingWorkRequestListComponent />
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import IncomingWorkRequestListComponent from '../../components/work/IncomingWorkRequestListComponent'

export default {
  name: 'IncomingWorkRequestListTab',

  components: {
    IncomingWorkRequestListComponent
  }
}
</script>

<style scoped>

</style>
