<template>
  <v-card flat>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <OutgoingWorkRequestListComponent />
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import OutgoingWorkRequestListComponent from '../../components/work/OutgoingWorkRequestListComponent'

export default {
  name: 'OutgoingWorkRequestListTab',

  components: {
    OutgoingWorkRequestListComponent
  }
}
</script>

<style scoped>

</style>
