<template>
  <WorkRequestComponent/>
</template>

<script>
import WorkRequestComponent from '../../components/work/WorkRequestComponent'

export default {
  name: 'WorkRequest',

  components: {
    WorkRequestComponent
  }
}
</script>
