<template>
  <ReviewDetailComponent/>
</template>

<script>
import ReviewDetailComponent from '../../../components/review/detail/ReviewDetailComponent'

export default {

  name: 'ReviewDetail',

  components: {
    ReviewDetailComponent
  }
}
</script>

<style scoped>

</style>
