<template>
  <v-card mx-auto class="pa-5">
    <v-card-title>
      <router-link :to="{ name: 'workRequestDetail', params: { workId: workRequest.id }}" class="router-link">
        <span class="text--primary">
          {{ workRequestData.title }}
        </span>
      </router-link>
      <v-spacer/>
      <span class="work-status" :style="{color: getWorkStatusColor()}">{{ $t(getWorkStatus()) }}</span>
    </v-card-title>
    <v-card-subtitle>
      {{ workRequest.intervalPayload.start }} - {{ workRequest.intervalPayload.end }}
    </v-card-subtitle>

    <v-card-actions>
      <v-btn
        :to="{ name: 'review', params: { workId: workRequest.id }}"
        width="125"
        v-if="getWorkStatus() === 'WORK_FINISHED'  && workRequest.reviewResponseList.length === 0"
        x-small
        color="orange"
        class="white--text">
        <v-icon left dark class="google-icon">mdi-message-draw</v-icon>
        {{ $t('notifications.workRequest.card.review') }}
      </v-btn>
      <v-btn
        :to="{ name: 'reviewDetail', params: { workId: workRequest.id }}"
        width="125"
        v-if="getWorkStatus() === 'WORK_FINISHED' && workRequest.reviewResponseList.length > 0"
        x-small
        color="green"
        outlined
        class="white--text">
        <v-icon color="orange" left dark class="google-icon">mdi-check-outline</v-icon>
        {{ $t('notifications.workRequest.card.alreadyReviewed') }}
      </v-btn>
      <v-badge
        v-if="getWorkStatus() === 'WORK_ACCEPTED'"
        class="ma-2"
        :content="alertStash.alertStash.filter(a => a.connectedWorkId === workRequest.id && a.notificationType === 'NEW_MESSAGE').length"
        :value="alertStash.alertStash.filter(a => a.connectedWorkId === workRequest.id && a.notificationType === 'NEW_MESSAGE').length"
        color="purple"
        overlap>
        <v-btn
          :to="{ name: 'chat', params: { workId: workRequest.id }}"
          width="125"
          v-if="getWorkStatus() === 'WORK_ACCEPTED'"
          x-small
          color="#0097A7"
          class="white--text">
          <v-icon left dark class="google-icon">mdi-message</v-icon>
          {{ $t('notifications.workRequest.card.chat') }}
        </v-btn>
      </v-badge>
      <v-spacer></v-spacer>
      <v-btn
        icon
        @click="workRequestDetailed = !workRequestDetailed">
        <v-icon>{{ workRequestDetailed ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="workRequestDetailed">
        <v-divider></v-divider>

        <v-card-text>
          <v-row>
            <v-col cols="3">
              <v-img
                referrerpolicy="no-referrer"
                :src="workRequest.worker.imageUrl"
                width="120"
              />
            </v-col>
            <v-col cols="6">
              <span>{{ workRequest.worker.name }}</span>
            </v-col>
          </v-row>
          {{ workRequest.startMsg }}
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'

import { calculateWorkStatus } from '@/mixins/work/calculateWorkStatus'
import { calculateWorkStatusColor } from '@/mixins/work/calculateWorkStatusColor'

export default {
  name: 'OutgoingWorkRequestCardComponent',

  props: {
    workRequest: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    workRequestDetailed: false,
    workRequestData: null
  }),

  watch: {
    workRequest: {
      handler (newVal) {
        if (newVal) {
          this.workRequestData = this.workRequest
        }
      },
      immediate: true
    }
  },

  mixins: [calculateWorkStatus, calculateWorkStatusColor],

  computed: {
    ...mapState([
      'alertStash'
    ])
  }
}
</script>

<style scoped>
  .work-status {
    font-size: 0.6em;
    opacity: 0.9;
  }
</style>
