<template>
  <v-app>
    <NotificationComponent/>
    <SnackBarComponent :is-visible-prop="alert.isVisible" :color="alert.color" :msg="alert.alertMsg"/>
    <HeaderComponent/>
    <v-main>
      <router-view/>
    </v-main>
    <FooterComponent/>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import HeaderComponent from './components/static/HeaderComponent'
import FooterComponent from './components/static/FooterComponent'
import NotificationComponent from './components/static/NotificationComponent'
import SnackBarComponent from './components/static/alert/SnackBarComponent'

export default {
  name: 'App',

  components: {
    SnackBarComponent,
    HeaderComponent,
    FooterComponent,
    NotificationComponent
  },

  computed: {
    ...mapState([
      'alert'
    ])
  },

  mounted () {
    this.$store.dispatch('setUserNotificationsCount')
    this.$store.dispatch('getAllActiveAlertsFromUser')
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600');

  html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
  }

  #app {
    font-family: 'Montserrat', sans-serif;
  }

  .header-title {
    color: dimgrey;
    text-decoration: none;
  }

  .router-link {
    text-decoration: none;
  }
</style>
