<template>
  <NotificationsComponent />
</template>

<script>
import NotificationsComponent from '../../components/notification/NotificationsComponent'

export default {
  name: 'Notifications',

  components: {
    NotificationsComponent
  }
}
</script>

<style scoped>

</style>
