<template>
  <div>
    <LoginComponent/>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { store } from '../../store'
import router from '../../router'
import LoginComponent from '../../components/auth/LoginComponent'
import i18n from '../../i18n'

export default {
  name: 'Login',

  components: {
    LoginComponent
  },

  data: () => ({
    snackBarVisible: false,
    snackBarColor: '',
    snackBarMsg: ''
  }),

  computed: {
    ...mapState([
      'alert'
    ])
  },

  mounted () {
    if (this.$route.query.error) {
      this.snackBarVisible = true
      this.snackBarColor = 'error'
      this.snackBarMsg = this.$route.query.error
      this.$store.dispatch('setIsVisible', true)
      this.$store.dispatch('setColor', 'error')
      this.$store.dispatch('setAlertMsg', i18n.t(this.$route.query.error))
    } else {
      if (this.$route.query.token) {
        store.dispatch('setToken', this.$route.query.token).then(() => {
          store.dispatch('loadUser', {}).then(() => {
            router.push({ name: 'profile' })
          })
        })
      } else if ({ ...store.state.user.token }.token) {
        router.push({ name: 'profile' })
      }
    }
  }
}
</script>
