<template>
  <v-container>
    <PageHeaderComponent
      :title="$t('notifications.workRequest.incoming')"
      back-ground-color-prop="#616161"/>
    <template v-for="(workRequest, index) in incomingWorkRequestList">
      <v-row justify="center" v-bind:key="index">
        <v-col>
          <IncomingWorkRequestCardComponent :workRequest="workRequest" />
        </v-col>
      </v-row>
    </template>
    <InfiniteLoading :identifier="infiniteId" @infinite="infiniteHandler" spinner="spiral">
      <div slot="no-more"></div>
      <div slot="no-results">{{ $t('no.incoming.workRequestResults') }}</div>
    </InfiniteLoading>
  </v-container>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import PageHeaderComponent from '../static/PageHeaderComponent'
import IncomingWorkRequestCardComponent from './card/IncomingWorkRequestCardComponent'

export default {
  name: 'WorkRequestListComponent',

  components: {
    IncomingWorkRequestCardComponent,
    InfiniteLoading,
    PageHeaderComponent
  },

  data: () => ({
    incomingWorkRequestList: [],
    page: 0,
    pageSize: 5,
    infiniteId: +new Date(),
    selectAlertList: []
  }),

  methods: {
    infiniteHandler ($state) {
      this.$store.dispatch('findIncomingWorkRequests', {
        pagingRequest: {
          pageSize: this.pageSize,
          page: this.page
        },
        workSearchRequest: {
          workDirection: 'INCOMING'
        }
      }).then(res => {
        if (res.data.content.length) {
          this.page += 1
          this.incomingWorkRequestList.push(...res.data.content)
          $state.loaded()
        } else {
          $state.complete()
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
