<template>
  <v-container>
    <PageHeaderComponent
      :title="$t('notifications.workRequest.outgoing')"
      back-ground-color-prop="#616161"/>
    <template v-for="(workRequest, index) in outgoingWorkRequestList">
      <v-row justify="center" v-bind:key="index">
        <v-col>
          <OutgoingWorkRequestCardComponent :workRequest="workRequest" />
        </v-col>
      </v-row>
    </template>
    <InfiniteLoading :identifier="infiniteId" @infinite="infiniteHandler" spinner="spiral">
      <div slot="no-more"></div>
      <div slot="no-results">{{ $t('no.outgoing.workRequestResults') }}</div>
    </InfiniteLoading>
  </v-container>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import PageHeaderComponent from '../static/PageHeaderComponent'
import OutgoingWorkRequestCardComponent from './card/OutgoingWorkRequestCardComponent'

export default {
  name: 'OutgoingWorkRequestListComponent',

  components: {
    OutgoingWorkRequestCardComponent,
    PageHeaderComponent,
    InfiniteLoading
  },

  data: () => ({
    outgoingWorkRequestList: [],
    page: 0,
    pageSize: 5,
    infiniteId: +new Date()
  }),

  computed: {
    alertPayload: {
      get () {
        return this.$store.state.alert.alertPayload
      }
    }
  },

  methods: {
    infiniteHandler ($state) {
      this.$store.dispatch('findOutgoingWorkRequests', {
        pagingRequest: {
          pageSize: this.pageSize,
          page: this.page
        },
        workSearchRequest: {
          workDirection: 'OUTGOING'
        }
      }).then(res => {
        if (res.data.content.length) {
          this.page += 1
          this.outgoingWorkRequestList.push(...res.data.content)
          $state.loaded()
        } else {
          $state.complete()
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
