<template>
  <v-container>
    <PageHeaderComponent :title="$t('workRequestList.header')"/>
    <v-card>
      <v-tabs
        v-model="activeTab"
        background-color="grey darken-1"
        color="white"
        fixed-tabs
        centered
        dark
        icons-and-text>
        <v-tabs-slider></v-tabs-slider>

        <v-tab v-for="tab in tabs" :key="tab.id" :to="tab.route" exact>
          {{ $t(tab.title) }}
          <v-icon>mdi-arrow-down-circle</v-icon>
        </v-tab>
      </v-tabs>

      <router-view />
    </v-card>
  </v-container>
</template>

<script>
import PageHeaderComponent from '../static/PageHeaderComponent'

export default {
  name: 'WorkRequestListComponent',

  components: {
    PageHeaderComponent
  },

  data: () => ({
    activeTab: '/work-requests',
    tabs: [
      { id: '1', name: 'Tab A', route: '/work-requests/incoming', title: 'workRequestList.incoming' },
      { id: '2', name: 'Tab B', route: '/work-requests/outgoing', title: 'workRequestList.outgoing' }
    ]
  })
}
</script>

<style scoped>

</style>
