<template>
  <v-container>
    <PageHeaderComponent :title="$t('workRequest.header')"/>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <WorkerBaseDetailComponent :worker="worker"/>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <SkillChooseComponent :skill-list="worker.workerSkillList"/>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <IntervalChooseComponent :interval-list="worker.workerIntervals"/>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4">
        <WrittenDetailsComponent
          @formErrorCheck="setFormValidity"/>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="col-xs-12 col-md-8 col-lg-6 col-xl-4 text-center">
        <v-btn
          @click="saveWorkRequest()"
          :loading="isSaveWorkRequestLoading"
          :disabled="isSaveButtonDisabled()"
          class="mr-4"
          tile
          outlined
          color="success">
          {{ $t('workRequest.submit') }}
        </v-btn>
      </v-col>
      <v-dialog
        v-model="dialog"
        max-width="350">
        <v-card>
          <v-card-title class="headline">{{ $t('workRequest.submit.confirm.header') }}</v-card-title>
          <v-card-text>
            {{ $t('workRequest.submit.confirm.description') }}
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red darken-1"
              text
              @click="closeDialog()">
              {{ $t('workRequest.submit.confirm.decline') }}
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              :loading="isSaveWorkRequestConfirmLoading"
              @click="saveWorkRequestCore()">
              {{ $t('workRequest.submit.confirm.accept') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

import i18n from '../../i18n'
import router from '../../router'
import PageHeaderComponent from '../static/PageHeaderComponent'
import WorkerBaseDetailComponent from '../work/worker/WorkerBaseDetailComponent'
import SkillChooseComponent from './create-workrequest/SkillChooseComponent'
import IntervalChooseComponent from './create-workrequest/IntervalChooseComponent'
import WrittenDetailsComponent from './create-workrequest/WrittenDetailsComponent'

export default {
  name: 'WorkRequestComponent',

  data () {
    return {
      isFormInValid: true,
      isSaveWorkRequestLoading: false,
      isSaveWorkRequestConfirmLoading: false,
      snackBarVisible: false,
      snackBarColor: '',
      snackBarMsg: '',
      dialog: false
    }
  },

  components: {
    WrittenDetailsComponent,
    PageHeaderComponent,
    WorkerBaseDetailComponent,
    SkillChooseComponent,
    IntervalChooseComponent
  },

  computed: {
    ...mapState([
      'worker',
      'workRequest',
      'alert'
    ])
  },

  mounted () {
    this.$store.dispatch('getWorkerById', this.$route.params.workerId)
    this.$store.dispatch('setSelectedWorkerId', this.$route.params.workerId)
  },

  destroyed () {
    this.$store.dispatch('resetWorkRequest')
    this.$store.dispatch('resetWorker')
  },

  watch: {
    dialog (val) {
      val || this.closeDialog()
    }
  },

  methods: {
    setFormValidity (form) {
      this.isFormInValid = form.$invalid
    },
    isSaveButtonDisabled () {
      const selectedSkillEmpty = this.workRequest.selectedSkill === null
      const selectedIntervalIdEmpty = this.workRequest.selectedIntervalId === ''
      const titleEmpty = this.workRequest.title === ''
      const starterMsgEmpty = this.workRequest.starterMsg === ''

      return selectedSkillEmpty || selectedIntervalIdEmpty || titleEmpty || starterMsgEmpty || this.isFormInValid
    },
    saveWorkRequest () {
      this.isSaveWorkRequestLoading = true
      if (this.worker.workerIntervals.find(interval => interval.intervalStatus === 'PENDING' && interval.id === this.workRequest.selectedIntervalId)) {
        this.dialog = true
      } else {
        this.saveWorkRequestCore()
      }
    },
    saveWorkRequestCore () {
      this.isSaveWorkRequestLoading = true
      if (this.dialog) {
        this.isSaveWorkRequestConfirmLoading = true
      }
      this.$store.dispatch('saveWorkRequest').then(res => {
        this.isSaveWorkRequestLoading = false
        if (this.dialog) {
          this.isSaveWorkRequestConfirmLoading = false
          this.dialog = false
        }
        if (res.status === 200) {
          this.$store.dispatch('setIsVisible', true)
          this.$store.dispatch('setColor', 'success')
          this.$store.dispatch('setAlertMsg', i18n.t('workRequest.submit.success'))
          router.push({ name: 'notifications' })
        }
      }).catch(() => {
        this.$store.dispatch('setIsVisible', true)
        this.$store.dispatch('setColor', 'error')
        this.$store.dispatch('setAlertMsg', i18n.t('workRequest.submit.error'))
      })
    },
    closeDialog () {
      this.dialog = false
      this.isSaveWorkRequestLoading = false
    }
  }

}
</script>
