<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-card
        class="mx-auto"
        width="500"
        height="300"
        max-width="500"
        outlined>
        <v-row>
          <v-col class="d-flex" cols="12">
            <v-btn :href="$getConst('GOOGLE_AUTH_URL')" id="googleBtn" text>
              <v-icon left>mdi-google</v-icon>
              {{ $t('login.google') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>

export default {
  name: 'LoginComponent'
}
</script>

<style scoped>
  .d-flex {
    justify-content: center;
  }

  #facebookBtn {
    color: white;
    background-color: #294c7c;
  }

  #googleBtn {
    color: white;
    background-color: #ea4436;
  }
</style>
