<template>
  <WorkerSearchComponent :skills="getTranslatedSearchSkills"/>
</template>

<script>
import { mapGetters } from 'vuex'

import WorkerSearchComponent from '../../components/worker/search/WorkerSearchComponent'

export default {
  name: 'Workers',

  components: {
    WorkerSearchComponent
  },

  computed: {
    ...mapGetters([
      'getTranslatedSearchSkills'
    ])
  }
}
</script>
